/*---fonts---*/
@font-face
{
	font-family: main_font;
	src: url(calibri.ttf);
}

@font-face
{
	font-family: team;
	src: url(phantom.ttf);
}

body
{
	margin: 0;
	padding: 0;
	font-family: main_font;
	overflow: hidden;
}


/*----header-----*/


/*--------header bar---------------*/
.header_div
{
	position: fixed;
	top:0;
	left:0;
  	width:100%;
    height: 60px; 
    background: red;
    text-align: center;
    z-index: 200;
}

#header_div_bck
{	
	position: absolute;;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	z-index: -10;
}

.menu_toggle img
{
	z-index: 210;
	margin: auto;
	display: block;
	cursor: pointer;
	width: 10%;
	//background: red;
}


.header_div span
{
	opacity: 0;
	vertical-align: middle;
	letter-spacing: .5em;
	color: white;
	z-index: 50;
	padding: 0;
	margin: 0;
}

/*-------floater-----------*/
.login
{
	//background: blue;
	width: 150px;
	height: auto;
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 200;
	color:white;
	text-align: right;
}

.ca
{
	//background: blue;
	width: 250px;
	height: auto;
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 200;
	color:white;
	text-align: right;
}

.register
{
	//background: blue;
	width: 150px;
	height: auto;
	position: fixed;
	left: 5px;
	top: 5px;
	z-index: 200;
	color:white;
	text-align: left;
}

 .ca img
{
	max-width: 25%;
	max-height: 25%;
	vertical-align: middle;
}

.login img, .register img
{
	max-width: 45%;
	max-height: 45%;
	vertical-align: middle;
}

.login a, .register a, .ca a
{
	color: white;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	font-size: 150%;

}

.login_div
{
	position: fixed;
	width: 60%;
	height: 100%;
	background-image: url(/images/floater_back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 320;
	overflow-y: scroll;
	display: none;
}

.register_div
{
	position: fixed;
	width: 60%;
	height: 100%;
	background-image: url(/images/floater_back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 320;
	overflow-y: scroll;
	display: none;
	right:0;
}

.login_backgrnd
{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	opacity: .8;
	width: 100%;
	height: 100%;
	z-index: 305;
	background: black;
}

.close_div
{
	position: absolute;
	top: 5px;
	right: 0;
	max-width: 9%;
	cursor: pointer;
}

/*---login page-------*/
.login_form
{
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	color: white;
	margin-top: 15%;
	font-size: 140%;
}

#login_img
{
	/*width: 30%;*/
}

#login_id
{
	background: none;
	width: 60%;
	border:none;
	border-bottom: 2px white solid;

}

#login_pwd
{
	background: none;
	width: 60%;
	border:none;
	border-bottom: 2px white solid;

}

#login_but
{
	color: black;
	border-radius: 7px;
	width: 20%;
	height: 40px;
	font-size: 80%;

	background: lightgray;
	border: none;
	border: 2px black solid;
	border-radius: 8px;
	display: block;
	cursor: pointer;
	margin: auto;
}

/*---register page-------*/
.reg_form
{
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	color: white;
	margin-top: 5%;
	font-size: 140%;
}

.reg_form input, .reg_form select
{
	background: none;
	border: none;
	border-bottom: 2px white solid;
	width: 60%;
}

.reg_form select
{
	color: black;
	background: none;
	border: none;
	border-bottom: 2px white solid;
	width: 60%;
}

#sub_but
{
	color: black;
	border-radius: 7px;
	width: 20%;
	height: 40px;
	font-size: 80%;

	background: lightgray;
	border: none;
	border: 2px black solid;
	border-radius: 8px;
	display: block;
	cursor: pointer;
	margin: auto;
}


/*------------menu bar------------*/
.menu_bar
{
	display: none;
	position: fixed;
	top: 100px;
	right: 0;
	left: 0;
	margin: auto;
	//background: white;
	z-index: 300;
	text-align:center;
	width: 20%;
	//opacity: .8;
	font-size: 120%;
	color: white;
}

.menu_bar ul
{
	list-style: none;
	padding:0;
	margin:0;
}

.menu_bar li
{
	background: orange;
	padding: 2%;
	margin-top: 4%;
	margin-bottom: 4%;
	background-image: url(/images/cross.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	text-shadow: 1px 1px 10px black;
	box-shadow: 3px 3px 1px #A52A2A;
	border-radius: 5px;
	cursor: pointer;
}

.menu_bar li:hover
{
	color: orange;
}

.menu_bar a
{
	text-decoration: none;
	color: white;
}

.menu_bar a:hover
{
	color: orange;
}

.first_rot
{
	transform: rotate(-4deg);
}

.secnd_rot
{
	transform: rotate(4deg);
}

.menu_backgrnd
{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	opacity: .8;
	width: 100%;
	height: 100%;
	z-index: 160;
	background: black;
}

.left_door
{
	position: fixed;
	top:0;
	left:0;
	transform-origin: left;
	text-align: left;	
	height:100%;
	width: 35%;
	z-index: 300;
	padding:0;
	margin: 0;
	transition: .8s ease-out;
	//background: green;
	opacity: 1;
	overflow: hidden
}

.left_door img
{
	//max-width: 90%;
	height: 100%
}

.left_door_anim
{
	transform: rotateY(90deg);
	opacity: 0;
}

.right_door
{
	position: fixed;
	top:0;
	right:0;
	transform-origin: right;
	text-align: right;
	height:100%;
	width: 35%;
	z-index: 300;
	padding:0;
	margin: 0;
	transition: .8s ease-out;
}

.right_door img
{
	//max-width: 90%;
	height: 100%
}

.right_door_anim
{
	transform: rotateY(-90deg);
	opacity: 0;
}

/*--------header bar---------------*/

/*-------moving witch-----------*/
.moving_witch
{
	display: block;
	position: fixed;
	top:100px;
	left: 40%;
	z-index: 150;
	max-width: 17%;
	transition: .8s;

	//animation-name: witch_motion_anim;
	animation-duration: .8s ;
	animation-iteration-count:infinite;
	//animation-fill-mode:both;
	animation-direction: alternate-reverse;
	
}

@keyframes witch_motion_anim
{
	0% {transform: rotate(5deg);}
	100% {transform: rotate(-5deg);}
}

/*-------moving cloud-----------*/
.cloud_div
{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: red;
	background-image: url(/images/cloud.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -5;
	opacity: 1;
}


.moving_cloud_div
{
	position: fixed;
	top: 9%;
	height: 40%;
	width: 100%;
	z-index: 140;
	//background: green;
}

.moving_cloud_div img
{
	display: block;
	position: absolute;
	top:0;
	left:0;
	height: 75%;
}

/*-------moving floor-----------*/
.moving_floor_div
{
	position: fixed;
	bottom: 4%;
	height: 50%;
	width: 100%;
	z-index: 10;
	//background: red;
}

.moving_floor_div img
{
	display: block;
	position: absolute;
	bottom:0;
	left:0;
	height: 90%;
}

/*-------horizonatal scrolling div of computers-----------*/
.horizontal
{
	position: absolute;
	bottom: 7%;
	z-index: 90;
	width: 100%;
	//background: red;
	opacity: 1;
	height: 60%;
	white-space: nowrap;
	//overflow-x: hidden;
}


.anwesha_logo
{
	width: 30%;
	//background: green;
	display: inline-block;
	vertical-align: top;
}

.anwesha_logo img
{
	width: 80%;
	//transform: rotate(20deg);
}

.blank_div_thr
{
	width: 30%;
	height: 100px;
	//background:orange;
	display: inline-block;
}


.blank_div_fiv
{
	width: 40%;
	height: 100px;
	//background:orange;
	display: inline-block;
}

.about_anwesha
{
	width: 40%;
	height: auto;
	padding: 20px;
	vertical-align: top;
	background: lightgray;
	display: inline-block;
	box-shadow: 2px 2px 15px black;
	font-size: 110%;
	white-space: pre-line;
}

.about_anwesha p
{
	color: white;
	text-align: right;
	font-size: 140%;
	font-weight: bold;
	background: red;
	padding: 2px;
	padding-right: 10px;
	border-radius: 5px;
}

.anwesha_theme
{
	width: 45%;
	height: auto;
	padding: 20px;
	vertical-align: top;
	background-color: lightgray;
	display: inline-block;
}


.anwesha_theme p
{
	color: white;
	text-align: right;
	font-size: 140%;
	font-weight: bold;
	background: red;
	padding: 2px;
	padding-right: 10px;
	border-radius: 5px;
}

.anwesha_theme img
{
	width:100%;
}


/*----------for team page----------*/

/*-------moving wall-----------*/
.moving_wall_div
{
	position: fixed;
	bottom: 4%;
	height: 70%;
	width: 100%;
	z-index: 10;
	//background: red;
}

.moving_wall_div img
{
	display: inline;
	position: absolute;
	bottom:0;
	left:0;
	height: 90%;
}

.team_div
{
	position: absolute;
	bottom: 4%;
	z-index: 90;
	width: 100%;
	//background: red;
	//opacity: .8;
	height: 60%;
	white-space: nowrap;
	//overflow-x: hidden;
	padding-top: 80px;
}

.team_blank
{
	width: 50px;
	height: 50px;
	//background: orange;
	display: inline-block;
	vertical-align: bottom;
}

.team_text
{
	height: auto;
	width: auto;
	//background: red;
	display: inline-block;
	vertical-align: bottom;
	font-family: team;
	font-size: 200%;
	color: #fcb815;
	padding-bottom: 2%;
	padding-left:2%;
	padding-right: 3%;
}

.team_mem
{
	position: relative;
	vertical-align: bottom;
	width: 220px;
	height: 280px;
	//background-color: blue;
	//margin: 50px;
	background-image: url(/images/team_mem_bck.png);
	background-repeat: none;
	background-size: cover;
	text-align: center;
	display: inline-block;
}

.mem_content
{
	position: absolute;
	top: 70px;
	left:0;
	right: 0;
	//background: green;
	width: 90%;
	margin:auto;
	text-align: center;
}

.mem_content img
{
	width: 50%;

}

.mem_name
{
	font-size: 130%;
	font-weight: bold;
}

.mem_content a
{
	color: black;
}

/*--------styling for events page-----*/

/*------------menu bar------------*/
/*
.events_menu
{
	display: block;
	position: absolute;
	top: 40%;
	//bottom:0;
	left: 10px;
	margin: auto;
	//background: white;
	z-index: 150;
	text-align:center;
	width: 20%;
	font-size: 140%;
	color: white;
	display: inline-block;
}

.events_menu ul
{
	list-style: none;
	padding:0;
	margin:0;
}

.events_menu li
{
	background: orange;
	padding: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
	background-image: url(/images/cross.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	//text-shadow: 1px 1px 10px black;
	//box-shadow: 3px 3px 1px #A52A2A;
	border-radius: 5px;
	cursor: pointer;
}

.events_menu li:hover
{
	color: orange;
}

.events_menu a
{
	text-decoration: none;
	color: white;
}

.events_menu a:hover
{
	color: orange;
}
*/

.events_div
{
	position: absolute;
	bottom: 4%;
	z-index: 150;
	width: 100%;
	height: 70%;
	white-space: nowrap;
	//padding-top: 2%;
}

.events_blank
{
	width: 900px;
	//height: 100px;
	//background: green;
	vertical-align:bottom;
	display: inline-block;
}
.events_blank img
{
	width: 100%;
}

.events_title
{
	color: white;
	text-align: left;
	font-size: 140%;
	font-weight: bold;
	background: #8b0000 ;
	padding: 2px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 160%;
}

#event_cat_div
{
	display: inline-block;
	width: 800px;
	height: 97%;
	background: white;
	padding: 1%;
	vertical-align: top;
	overflow-y: scroll;
}

#event_cat_div ul
{
	padding:0;
	margin: 0;
	text-align: right;
}

#event_cat_div li
{
	padding:0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	padding:1%;
	//background: #7FFFD4;
	background-image: url(/images/dark.png);
	background-repeat: no-repeat;
	background-size: cover;
	color: lightgrey;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 1px 1px 5px black;
	margin-right:1%;
}

.tech_content
{
	margin-top: 1%;
	width: 100%;
	background:yellow;
	height: 100px;
	text-align: left;
}

.cult_content
{
	margin-top: 1%;
	width: 100%;
	background: green;
	height: 100px;
}

.mang_content
{
	margin-top: 1%;
	width: 100%;
	background: orange;
	height: 100px;
}

/*-----preloader----*/
.preloader_div
{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2000;
	background: black;
	transition: 2s;
	transition-delay: 1s;
}

.preloader_div_anim
{
	opacity: 0;
	transform: scale(3,3);
	//z-index: -1000;
}


/*---ajax loading div---*/
.ajax_loading_bckgrnd
{
	display: none;
	z-index: 900;
	position: fixed;
	background: black;
	opacity: .8;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}

.ajax_back
{
	position: absolute;
	/*/background: black;*/
	opacity: .8;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-image: url(/images/ajax_back.png);
	animation-name: ajaz_back_anim;
	animation-duration: 1s ;
	animation-iteration-count:infinite;
	//animation-fill-mode:both;
	animation-direction: alternate-reverse;
}

@keyframes ajaz_back_anim
{
	0%{transform: rotate(10deg) scale(2, 2)}
	100%{transform: rotate(-10deg) scale(1.3, 1.3)}
}

.ajax_loading_div
{
	position: fixed;
	background: #ffc123;
	width: 90%;
	height: 90%;
	top:0;
	left:0;
	right:0;
	margin:auto;
	bottom:0;
	z-index: 1000;
	transition: 1s ease-in-out;
	opacity: 1;
	transform: rotate(3deg);
	transform-origin: 0% 0%;
	overflow-y: scroll;
}

/*--syling ajax div---*/
.ajax_pin
{
	position: absolute;
	top:0px;
	left: 0px;
	max-width: 10%;
	transform: rotate(-25deg);
}

.ajax_div_back
{
	position: absolute;
	top:0px;
	left: 0px;
	right:0;
	bottom: 0;
	margin: auto;
	width: 50%;
	opacity: .1;
}

.close_icon
{
	position: absolute;
	top: 5px;
	right: 0;
	max-width: 5%;
	cursor: pointer;
}

.ajax_loading_entry
{
	opacity: 0;
	transform-origin:  0% 0%;
	transform: rotate(-120deg);
}

.ajax_content
{
	margin-top: 10%;
}

/*--footer---*/
#copyright
{
	position: fixed;
	bottom:0;
	left:0;
	width:100%;
	padding:0;
	margin: 0;
	padding: 5px;
	background-image: url(/images/blood.jpg);
	//background-repeat: no-repeat;
	background-size: contain;
	color: white;
	text-shadow: 5px 5px 10px black;
	text-align: center;
	z-index: 150;
	//font-weight: bold;
	//background-color: red;
}

.mob_div
{
	display: none;
	z-index: 0;
}


/*------------media queries--------------*/

/*//900px*/
@media screen and (max-width: 900px)
{
	.header_div
	{
		height: 40px;
	}

	.menu_toggle img
	{
		width: 15%;
	}

	.moving_witch
	{
		max-width: 25%;
	}

	.menu_bar
	{
		width: 30%;
	}

	.door
	{
		opacity: 0;
	}

	.moving_cloud_div img
	{
		height: 55%;
	}

	.moving_floor_div img
	{
		height: 70%;
	}

	.horizontal
	{
		display: none;
	}

	.login img, .register img
	{
		max-width: 25%;
		max-height: 25%;
	}

	.ca
	{
		//background: orange;
		width: 120px;
		text-align: right;
		//font-size: 220%;
	}

	.ca img
	{
		max-width: 25%;
		max-height: 25%;
	}

	.login a, .register a, .ca a
	{
		font-size: 110%;
		
	}

	.login_form, .reg_form
	{
		font-size: 85%;
	}



/*view on mobile phone*/
	.mob_div
	{
		position: absolute;
		display: block;
		top: 200px;
		right:0;
		left:0;
		width: 100%;
		height: 60%;
		//background: blue;
		overflow-y:scroll;
		margin: auto;
		z-index: 150;
		text-align: center;
	}

	.anwesha_logo
	{
		width: 70%;
		display: block;
		margin:auto;
	}

	.blank_div_thr
	{
		width: 40%;
		height: 100px;
		margin:auto;
		display: block;
	}


	.blank_div_fiv
	{
		width: 50%;
		height: 100px;
		margin:auto;
		display: block;
	}

	.about_anwesha
	{
		width: 80%;
	}

	.anwesha_theme
	{
		width: 80%;
		height: auto;
		padding: 20px;
		margin:auto;
		background-color: lightgray;
		display: block;
	}


}

/*//500px*/
@media screen and (max-width: 500px)
{

	.menu_toggle img
	{
		width: 25%;
	}

	.menu_bar
	{
		width: 40%;
	}

	.moving_witch
	{
		max-width: 35%;
	}

	.anwesha_logo
	{
		width: 70%;
		
	}

	.login_div
	{
		width: 80%;
	}

	.register_div
	{
		width: 80%;
	}

	.close_icon
	{
		max-width: 10%;
	}

	.ajax_pin
	{
		position: absolute;
		top:0px;
		left: 0px;
		max-width: 17%;
		transform: rotate(-25deg);
	}

	.events_menu
	{
		width: 40%;
	}

}