/*---just comments---*/

/*---fonts---*/
@font-face
{
	font-family: main_font;
	src: url(calibri.ttf);
}

@font-face
{
	font-family: team;
	src: url(phantom.ttf);
}

body
{
	margin: 0;
	padding: 0;
	font-family: main_font;
	overflow: hidden;
}


/*----header-----*/


/*--------header bar---------------*/
.header_div
{
	position: fixed;
	top:0;
	left:0;
  	width: 100%;
    height: 50px; 
    text-align: center;
    z-index: 200;
       background-image: linear-gradient(to right, #131513 0%, #333 100%);
        box-shadow: 0px 4px 16px 0px #000000;
       
}

#header_div_bck
{	
	position: absolute;;
	top:0;
	left:0;
	width: 100%;
	z-index: -10;
	display: none;
}

.menu_toggle img
{
	z-index: 210;
	margin: auto;
	display: block;
	cursor: pointer;
	width: 7%;
}

.header_div span
{
	opacity: 0;
	vertical-align: middle;
	letter-spacing: .5em;
	color: white;
	z-index: 50;
	padding: 0;
	margin: 0;
}

/*-------floater-----------*/

.register
{
	cursor: pointer;
}

.login
{
	height: auto;
	position: fixed;
	right: 5px;
	top: 5px;
	z-index: 200;
	color:white;
	text-align: right;
}



.login img
{
	max-width: 35%;
	max-height: 35%;
	vertical-align: middle;
}

.login a
{
	color: white;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	font-size: 150%;

}

.login_div
{
	position: fixed;
	width: 60%;
	height: 100%;
	background-image: url(/images/floater_back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 320;
	overflow-y: scroll;
	display: none;
}

.login_backgrnd
{
	display: none;
	position: fixed;
	top:0;
	left: 0;
	opacity: .8;
	width: 100%;
	height: 100%;
	z-index: 305;
	background: black;
}

.close_div
{
	position: absolute;
	top: 5px;
	right: 0;
	max-width: 9%;
	cursor: pointer;
}


/*---login page-------*/
.login_form
{
	width: 100%;
	height: auto;
	vertical-align: middle;
	text-align: center;
	color: white;
	margin-top: 15%;
	font-size: 140%;
}

#login_img
{
	/*width: 30%;*/
}

#login_id
{
	background: none;
	width: 60%;
	border:none;
	border-bottom: 2px white solid;

}

#login_pwd
{
	background: none;
	width: 60%;
	border:none;
	border-bottom: 2px white solid;

}

#login_but
{
	color: black;
	border-radius: 7px;
	width: 20%;
	height: 40px;
	font-size: 80%;

	background: lightgray;
	border: none;
	border: 2px black solid;
	border-radius: 8px;
	display: block;
	cursor: pointer;
	margin: auto;
}

/*------------menu bar------------*/
	.menu_bar
	{
		display: none;
		position: fixed;
		top: 100px;
		right: 0;
		left: 0;
		margin: auto;
		z-index: 300;
		text-align:center;
		width: 20%;
		font-size: 120%;
		color: white;
	}

	.menu_bar ul
	{
		list-style: none;
		padding:0;
		margin:0;
	}

	.menu_bar li
	{
		background: orange;
		padding: 2%;
		margin-top: 4%;
		margin-bottom: 4%;
		background-image: url(/images/cross.jpg);
		background-repeat: no-repeat;
		background-size: 100%;
		box-shadow: 3px 3px 1px black;
		border-radius: 5px;
		cursor: pointer;
	}

	.menu_bar li:hover
	{
		color: black;
	}

	.menu_bar a
	{
		text-decoration: none;
		color: white;
	}

	.menu_bar a:hover
	{
		color: black;
	}

	.first_rot
	{
		transform: rotate(-4deg);
	}

	.secnd_rot
	{
		transform: rotate(4deg);
	}

	.menu_backgrnd
	{
		display: none;
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 160;
	}

	.overlay
	{
		position: absolute;;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		background: black;
		opacity: .9;
	}

	.creep
	{
		position: absolute;
		top:0;
		height: 250px;
		//background: red;
	}

	.boundary
	{
		position: absolute;
		bottom:0;
		height: 250px;
		//background: red;
	}

/*--------header bar---------------*/

/*-----date div--------*/
	.date
	{
		//background: white;
		position: fixed;
		top: 110px;
		left: 10px;
		z-index: 120;
		height: 150px;
	}

	.date img
	{
		height: 100%;
		animation-name: date_anim;
		animation-duration: 10s ;
		animation-iteration-count:infinite;
		animation-fill-mode: backwards;
		animation-direction: normal;
		animation-timing-function: linear;
	}

	@keyframes date_anim
	{
		0%{transform: rotate(360deg);}
		100%{}
	}

	.date_text
	{
		position: absolute;
		text-align: center;
		top:25%;
		left:0;
		right:0;
		margin:auto;
		font-weight: bold;
		/* //background: grey; */
		font-size: 180%;
		color: white;
	}

/*-------login fast----------*/
	.log_fast
	{
		position: fixed;
		
		top: 60px;
		left: 10px;
		border: #FFFFFF solid 2px;
		background: rgba(238, 238, 238, 0);
		z-index: 200;
		padding: 5px; 
		box-shadow: #c0ffe6 0px 0px 7px 1px;
		 text-align: center;
		font-size: 130%;
		font-weight: bold;
		cursor: pointer;
		border-radius: 5px;
		color: #FFFFFF;
		transition: color .5s, background .5s;
		padding-right: 15px;
		padding-left: 15px;
		text-shadow: #FFFFFF 0px 0px 10px;
	}
	
	.log_fast:hover {
		background: rgba(238, 238, 238, 0.427);
		color:#000000;
		box-shadow: #c0ffe6 0px 0px 12px 1px;
	}
	.genbtn{
		    border: #FFFFFF solid 2px;
		    background: rgba(238, 238, 238, 0);
		    padding: 5px;
		    box-shadow: #ffffff 0px 0px 7px 1px;
		    text-align: center;
		    font-size: 130%;
		    font-weight: bold;
		    cursor: pointer;
		    border-radius: 5px;
		    color: #FFFFFF;
		    transition: color .5s,
		    background .5s;
		    padding-right: 15px;
		    padding-left: 15px;
		    text-shadow: #FFFFFF 2px 1px 18px;
	}
	.genbtn:hover {
		background: rgba(238, 238, 238, 0.427);
		/* color: #000000; */

		box-shadow: #171717 0px 0px 12px 1px;
	}
	.log_fast a, .log_fast a:hover 
	{
		color: white;
		text-decoration: none;
	}

/*-------register fast----------*/
	.reg_fast
	{
		position: fixed;
		
		top: 60px;
		right: 10px;
		border: #FFFFFF solid 2px;
		background: rgba(238, 238, 238, 0);
		z-index: 200;
		padding: 5px; 
		box-shadow: #c0ffe6 0px 0px 7px 1px;
		 text-align: center;
		font-size: 130%;
		font-weight: bold;
		cursor: pointer;
		border-radius: 5px;
		color: #FFFFFF;
		transition: color .5s, background .5s;
		padding-right: 15px;
		padding-left: 15px;
		text-shadow: #FFFFFF 0px 0px 10px;
	}

	.reg_fast:hover {
		background: rgba(238, 238, 238, 0.427);
		color:#000000;
		box-shadow: #c0ffe6 0px 0px 12px 1px;
	}
	.genbtn{
		    border: #FFFFFF solid 2px;
		    background: rgba(238, 238, 238, 0);
		    padding: 5px;
		    box-shadow: #ffffff 0px 0px 7px 1px;
		    text-align: center;
		    font-size: 130%;
		    font-weight: bold;
		    cursor: pointer;
		    border-radius: 5px;
		    color: #FFFFFF;
		    transition: color .5s,
		    background .5s;
		    padding-right: 15px;
		    padding-left: 15px;
		    text-shadow: #FFFFFF 2px 1px 18px;
	}

	.genbtn:hover {
		background: rgba(238, 238, 238, 0.427);
		/* color: #000000; */

		box-shadow: #171717 0px 0px 12px 1px;
	}

	.reg_fast a, .reg_fast a:hover 
	{
		color: white;
		text-decoration: none;
	}

/*------events update-----*/
	.eve_updates
	{
		position: fixed;
		top: 110px;
		right: 0px;
		height: 70px;
		padding: 3px;
		padding-right: 0px;

		background: #685d7b8c;
		background-image: linear-gradient(to top, #23919275 0%, #33086763 100%);
		z-index: 150;
		color: white;
		border-radius: 50px 0px 0px 50px;
	}

	.eve_updates img
	{
		height: 100%;
		border-radius: 50px;
		display: inline-block;
		//border: 5px solid #685d7b8c;
	}

	.eve_up_content
	{
		height: 100%;
		display: inline-block;
		vertical-align: top;
		text-align: center;
	}

	.eve_up_content p
	{
		color: white;
		text-align: right;
		font-size: 125%;
		margin: 0;
		padding: 0;
		padding-right: 15px;
		padding-left: 5px;
		background : #2c614745;
		border-radius: 5px 0px 0px 5px;
		//border: 1px solid #685d7b8c;
	}

	.eve_up_content a
	{
		color: lightgrey;
		text-decoration: none;
	}

/*----------right arrow----*/
	.right_arrow
	{
		position: fixed;
		right:5px;
		top:40%;
		height: 80px;
		cursor: pointer;
		z-index: 120;
	}

	.right_arrow img
	{
		height: 100%;
		cursor: pointer;
		-webkit-animation-name: bnce;
		-webkit-animation-duration: 1.5s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-out;
	}
	@-webkit-keyframes bnce {
		0% {
			-webkit-transform: translate(0%);
		}
		50% {
			-webkit-transform: translate(-30%);
		}
		100% {
			-webkit-transform: translate(0%);
		}
	}

/*-------moving witch-----------*/
	#moving_witch
	{
		display: block;
		position: absolute;
		top: 15%;
		left: 45%;
		z-index: 150;
		max-width: 13%;
		transition: .8s linear;
	}

	.wleft 
	{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}
	.wright {
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        filter: FlipH;
        -ms-filter: "FlipH";
	}

/*-------moving cloud-----------*/
	.cloud_div
	{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height: 100%;
		background: red;
		/*background-image: url(/images/cloud.jpg);*/
		background-image: url('/images/tw_stars.jpg');
		/*background-repeat: no-repeat;*/
		/*background-size: cover;*/
		z-index: -5;
		opacity: 1;
	}

	.moving_cloud_div
	{
		position: fixed;
		top: 9%;
		height: 30%;
		width: 100%;
		z-index: 110;
		margin:0;
		padding: 0;
	}

	.moving_cloud_div img
	{
		display: block;
		position: absolute;
		top:0;
		left:0;
		height: 90%;
	}

/*-------moving floor-----------*/
	.moving_floor_div
	{
		position: fixed;
		bottom: 0px;
		height: 50%;
		width: 100%;
		z-index: 10;
	}

	.moving_floor_div img
	{
		display: block;
		position: absolute;
		bottom:0;
		left:0;
		height: 90%;
	}

/*-------horizonatal scrolling div of computers-----------*/
	.horizontal
	{
		position: absolute;
		bottom: 50px;
		z-index: 90;
		width: 100%;
		height: 60%;
		white-space: nowrap;
	}

	.anwesha_logo
	{
		width: 100%;
	    display: inline-block;
	    vertical-align: middle;
	    text-align: center;
	}

	.anwesha_logo img
	{
		width: 75%;
	}

	.blank_div_thr
	{
		width: 25%;
		height: 100px;
		display: inline-block;
	}


	.blank_div_fiv
	{
		width: 40%;
		height: 100px;
		display: inline-block;
	}

	.about_anwesha
	{
		width: 40%;
		height: auto;
		padding: 20px;
		border-radius: 15px;

		vertical-align: top;
		background: #685d7b8c;
		display: inline-block;
		background-image: linear-gradient(to top, #23919275 0%, #33086763 100%);
		box-shadow: #48b3c7 0px 0px 10px;
		
		font-size: 110%;
		white-space: pre-line;
		color: white;
	}

	.about_anwesha p
	{
		color: white;
		text-align: right;
		font-size: 140%;
		font-weight: bold;
		background : #2c614745;
		padding: 2px;
		padding-right: 10px;
		border-radius: 5px;
	}

	.anwesha_theme
	{
		width: 45%;
		height: auto;
		box-shadow: #48b3c7 0px 0px 10px;
		padding: 10px;
		border-radius: 10px;
		vertical-align: top;
		display: inline-block;
		/* background: #ce980f; */

		background-image: linear-gradient(to top, #23919275 0%, #33086763 100%);
		
	}

	.anwesha_theme p
	{
		color: white;
		text-align: right;
		font-size: 140%;
		font-weight: bold;
		background : #2c614745;
		
		padding: 2px;
		padding-right: 10px;
		border-radius: 5px;
	}

	.anwesha_theme img
	{
		width:100%;
	}

/*----------for team page----------*/
	.moving_wall_div
	{
		position: fixed;
		bottom: 0;
		height: 50%;
		width: 100%;
		z-index: 10;
		/*//background: red;*/
	}

	.moving_wall_div img
	{
		display: inline;
		position: absolute;
		bottom:0;
		left:0;
		height: 100%;
	}

	.team_div
	{
		position: absolute;
		bottom: 50px;
		z-index: 90;
		width: 100%;
		height: 50%;
		white-space: nowrap;
		/*//overflow-x: hidden;*/
		padding-top: 70px;
		text-align: center;
	}

	.team_loader
	{
		//background: green;
		width: 100%;
		//height: 10px;
	}

	.team_blank
	{
		width: 50px;
		height: 20px;
		/*//background: orange;*/
		display: inline-block;
		vertical-align: bottom;
	}

	.team_text
	{
		height: auto;
		width: auto;
		/*//background: red;*/
		display: inline-block;
		vertical-align: bottom;
		font-family: team;
		font-size: 200%;
		color: #fcb815;
		padding-bottom: 2%;
		padding-left:2%;
		padding-right: 3%;
	}

	.team_mem
	{
		position: relative;
		vertical-align: bottom;
		width: 220px;
		height: 280px;
		background-image: url(/images/team_mem_bck.png);
		background-repeat: none;
		background-size: cover;
		text-align: center;
		display: inline-block;
	}

	.mem_content
	{
		position: absolute;
		top: 10px;
		left:0;
		right: 0;
		//background: green;
		width: 90%;
		height: 260px;
		overflow:hidden;
		margin:auto;
		text-align: center;
	}

	.mem_content img
	{
		height:75%;
	}

	.mem_name
	{
		font-size: 130%;
		font-weight: bold;
	}

	.mem_content a
	{
		color: #1a1a1a;
	}

	.mem_content a:hover
	{
		color: #1a1a1a;
		text-decoration: none;
	}

/*--------styling for events page-----*/
	.events_div
	{
		position: absolute;
		top: 100px;
		width: 100%;
		//background: black;
		text-align: center;
		z-index: 110;
	}

	.events_tab
	{
		width: 100%;
		margin: auto;
		//padding: 5px;
	}

	.events_tab button
	{
		padding:0;
		margin: 0;
		border: none;
		padding: 10px;
		margin: 5px;
		background: #685d7b8c;
		background-image: linear-gradient(to top, #23919275 0%, #33086763 100%);
		color: lightgrey;

		font-size: 120%;
		border-radius: 3px;
		box-shadow: 1px 1px 8px black;
	}
	
	#mainarea>center>div:nth-child(1)
	{
		padding: 10px;
		border-radius: 10px;
		background: #63262229;
		box-shadow: #48b3c7 0px 0px 10px;	   
	}

	#event_cat_div
	{
		width: 90%;
		max-width: 1000px;
		margin: auto;
		border-top-left-radius: 10px;
	    border-top-right-radius: 10px;
	    background: -webkit-linear-gradient(to right, #000000ba, #53346da8);
	    background: linear-gradient(to right, #000000ba, #53346da8);
	    padding: 10px;
	    transition: 1s;
	    margin-top: 50px;
		
		display: none;
	}

	.events_title
	{
		color: white;
	    text-align: left;
	    font-size: 140%;
	    font-weight: bold;
	    background: #63262229;
	    padding: 2px;
	    padding-right: 10px;
	    border-radius: 5px;
	    font-size: 160%;
	}

	.active-tab{
		box-shadow: 1px 1px 20px #6b1b1bcc !important;
		color: #f77575 !important;
	}

	.tech_eve, .cult_eve, .mgmt_eve
	{
		width: 100%;
		text-align: center;
	}

	#event_cat_div .evetab
	{
		padding:0;
		margin: 0;
		display: inline-block;
		text-decoration: none;
		padding: 5px;
		margin: 5px;
		/*//background: #7FFFD4;*/
		background-image: url(/images/dark.png);
		background-repeat: no-repeat;
		background-size: cover;
		color: lightgrey;
		cursor: pointer;
		border-radius: 3px;
		box-shadow: 1px 1px 8px black;
	}

	.tech_content, .cult_content, .mgmt_content
	{
		margin-top: 1%;
		width: 100%;
		text-align: left;
		overflow: hidden;
		//background: red;
	}

	#RuleBtn, #RegBtn
	{
		margin: 0;
		padding: 0;
		color: black;
		text-decoration: none;
		padding: 10px;
		border-radius: 3px;
		font-size: 125%;
		font-weight: bold;
		margin: 5px;
		background: white;
		display: inline-block;
		height: 35px;
		vertical-align: middle;
	}

	#eve_organisers
	{
		 text-transform: capitalize;

	}

/*-----preloader----*/
	.preloader_div
	{
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		z-index:2000;
		background: black;
		transition: 1s;
	}

	.preloader_div_anim
	{
		opacity: 0;
		transform: scale(3,3);
	}

/*---ajax loading div---*/
	.ajax_loading_bckgrnd
	{
		display: none;
		z-index: 900;
		position: fixed;
		background: black;
		opacity: .8;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
	}

	.ajax_back
	{
		position: absolute;
		opacity: .8;
		width: 100%;
		height: 100%;
		top:0;
		left:0;
		/* background-image: url(/images/ajax_back.png); */
		background: #141E30;
		/* fallback for old browsers */

		background: -webkit-linear-gradient(to right, #243B55, #141E30);
		/* Chrome 10-25, Safari 5.1-6 */

		background: linear-gradient(to right, #243B55, #141E30);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
	/* .closebtn {
		position: absolute;
		right: 32px;
		top: 32px;
		width: 32px;
		height: 32px;
		opacity: 0.3;
	}

	.closebtn:hover {
		opacity: 1;
	}

	.closebtn:before,
	.closebtn:after {
		position: absolute;
		left: 15px;
		content: ' ';
		height: 33px;
		width: 2px;
		background-color: #333;
	}

	.closebtn:before {
		transform: rotate(45deg);
	}

	.closebtn:after {
		transform: rotate(-45deg);
	} */
 /* trial	 */
	// colors
	:root {
		--color-dark: #161616;
		--color-ocean: #416dea;
		--color-grass: #3dd28d;
		--color-snow: #FFFFFF;
		--color-salmon: #F32C52;
		--color-sun: #feee7d;
		--color-alge: #7999a9;
		--color-flower: #353866;
		--color-smoke: #e4e4e4;
		--font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	}

	// reset
	html {
		box-sizing: border-box;
	}

	*,
	*:before,
	*:after {
		box-sizing: inherit;
	}

	// body styles
	body {
		display: flex;
		box-sizing: border-box;
		min-height: 100vh;
		background: whitesmoke;
		font-family: var(--font-face);
		font-size: 16px;
		font-weight: 700;
		line-height: 1;
		justify-content: center;
		align-items: center;
		@media (min-width: 992px) {
			border-width: 30px;
		}
	}

	body.linked {
		.button,
		h1 {
			opacity: .3;
			transition: opacity 300ms linear;
		}
		p {
			color: var(--color-smoke);
			transition: color 300ms linear;
		}
	}

	// text styles
	h1 {
		text-align: center;
		transition: opacity 300ms linear;
		color: var(--color-dark);
		font-family: var(--font-face);
		font-size: 32px;
		font-weight: 700;
		span {
			font-weight: 400;
		}
	}

	p {
		max-width: 460px;
		margin: 0 auto;
		transition: color 300ms linear;
		text-align: center;
		color: var(--color-dark);
		font-weight: 400;
		line-height: 1.5;
	}

	a,
	a:visited {
		text-decoration: none;
		color: var(--color-ocean);
		font-weight: 500;
		&:hover {
			text-decoration: underline;
			color: var(--color-ocean);
		}
	}

	// container styles
	.container {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 20px;
	}

	.button-container {
		display: flex;
		margin: 60px auto;
		flex-wrap: wrap;
		justify-content: center;
	}

	// button styles
	.button {
		display: flex;
		overflow: hidden;
		margin: 10px;
		padding: 12px 12px;
		cursor: pointer;
		user-select: none;
		transition: all 150ms linear;
		text-align: center;
		white-space: nowrap;
		text-decoration: none !important;
		text-transform: none;
		text-transform: capitalize;
		color: #fff;
		border: 0 none;
		border-radius: 4px;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.3;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		justify-content: center;
		align-items: center;
		flex: 0 0 160px;
		box-shadow: 2px 5px 10px var(--color-smoke);
		&:hover {
			transition: all 150ms linear;
			opacity: .85;
		}
		&:active {
			transition: all 150ms linear;
			opacity: .75;
		}
		&:focus {
			outline: 1px dotted #959595;
			outline-offset: -4px;
		}
	}

	.button.-regular {
		color: #202129;
		background-color: #f2f2f2;
		&:hover {
			color: #202129;
			background-color: #e1e2e2;
			opacity: 1;
		}
		&:active {
			background-color: #d5d6d6;
			opacity: 1;
		}
	}

	.button.-dark {
		color: var(--color-snow);
		background: var(--color-dark);
		&:focus {
			outline: 1px dotted white;
			outline-offset: -4px;
		}
	}

	.button.-green {
		color: var(--color-snow);
		background: var(--color-grass);
	}

	.button.-blue {
		color: var(--color-snow);
		background: var(--color-ocean);
	}

	.button.-salmon {
		color: var(--color-snow);
		background: var(--color-salmon);
	}

	.button.-sun {
		color: #f15c5c;
		background: var(--color-sun);
	}

	.button.-alge {
		color: #e7ff20;
		background: var(--color-alge);
	}

	.button.-flower {
		color: #FE8CDF;
		background: var(--color-flower);
	}

	 /* trial */

	.ajax_loading_div
	{
		position: fixed;
		/* background: #262626; */
		width: 90%;
		height: 90%;
		background: linear-gradient(to bottom right, #434343a3, #00000099);
		box-shadow: 0px 0px 10px #ffffff;
		top: 0;
		border-radius: 10px;
		left:0;
		right:0;
		margin:auto;
		bottom:0;
		z-index: 1500;
		overflow-y: auto;

		display: none;
	}

/*--syling ajax div---*/
	.close_icon
	{
		position: absolute;
		top: 5px;
		right: 3px;
		max-width: 5%;
		cursor: pointer;
	}

	.ajax_content
	{
		z-index: 300;
		margin-top: 0px !important ;
		padding: 0px !important; 
		color: white;
	}

/*------footer-----*/
	.footer_div
	{
		position: fixed;
		bottom:0px;
		left:0;
		width:100%;
		padding:0;
		margin: 0;
		color: white;
		text-align: center;
		z-index: 150;
	}

	.footer_div a
	{
		margin-left: 3px;
		color: silver;
	}

	.footer_div a:hover
	{
		color: white;
		text-decoration: none;
	}

	.footer_div img
	{
		padding: 2px;
		width: 2.5%;
	}

	.copyright
	{
		text-align: center;
	}

	.mob_div
	{
		display: none;
		z-index: 0;
	}

/*------------media queries--------------*/
@media screen and (max-width: 900px)
{
	.team_div
	{
		bottom: 50px;
	}

	.ajax_loading_div
	{
		width: 100%;
	}

	.right_arrow
	{
		display: none;
	}

/*-----date div--------*/
	.date
	{
		height: 110px;
		top: 100px;
	}

	.date_text
	{
		position: absolute;
		text-align: center;
		top: 25%;
		left:0;
		right:0;
		margin:auto;
		font-weight: bold;
		//background: grey;
		font-size: 130%;
		color: white;
	}

/*-----date div--------*/

/*--footer---*/
	.footer_div
	{
		position: fixed;
		bottom:0px;
		left:0;
		width:100%;
		padding:0;
		margin: 0;
		color: white;
		text-align: center;
		z-index: 150;
	}

	.footer_div a
	{
		margin-left: 3px;
		color: silver;
	}

	.footer_div a:hover
	{
		color: white;
		text-decoration: none;
	}

	.footer_div img
	{
		padding: 1px;
		width: 6.5%;
	}

/*---header------*/
	.header_div
	{
		height: 40px;
	}

	.menu_toggle img
	{
		width: 9%;
	}

	#moving_witch
	{
		max-width: 30%;
		display: none;
	}

	.menu_bar
	{
		width: 30%;
	}

	.moving_cloud_div img
	{
		height: 55%;
	}

	.moving_floor_div img
	{
		height: 70%;
	}

	.horizontal
	{
		display: none;
	}

/*view on mobile phone*/
	.mob_div
	{
		position: absolute;
		display: block;
		bottom: 50px;
		right:0;
		left:0;
		width: 100%;
		height: 60%;
		overflow-y:scroll;
		margin: auto;
		z-index: 150;
		text-align: center;
	}

	.anwesha_logo img
	{
		width: 80%;
		//background: black;
	}

	.blank_div_thr
	{
		width: 40%;
		height: 100px;
		margin:auto;
		display: block;
	}

	.blank_div_fiv
	{
		width: 50%;
		height: 100px;
		margin:auto;
		display: block;
	}

	.about_anwesha
	{
		width: 80%;
	}

	.anwesha_theme
	{
		width: 80%;
		height: auto;
		padding: 5px;
		margin:auto;
		display: block;
	}

}

/*//500px*/
@media screen and (max-width: 500px)
{

	.menu_toggle img
	{
		width: 20%;
	}

	.menu_bar
	{
		width: 50%;
	}

	.login_div
	{
		width: 80%;
	}

	.close_icon
	{
		max-width: 10%;
	}

	.ajax_pin
	{
		position: absolute;
		top:0px;
		left: 0px;
		max-width: 17%;
		transform: rotate(-25deg);
	}

	.events_menu
	{
		width: 40%;
	}

}