
.aud-head{
    color: black;
    font-size: 3.5em;
    text-align:center;
}

.aud-button{
    height:50vh;
}

.audition{
    background-image: url(../img/Multicity.jpg);
    background-size: cover;
	width : 100%;
	box-shadow: 0px 0px 20px 8px #000 inset;
}

.dhanbad{
    background-image: url(../img/dhanbad.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.soon{
    background-image: url(../img/soon.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

.shadow {-webkit-filter: drop-shadow(10px 10px 10px green);filter: drop-shadow(10px 10px 10px green);}