
.aud-head{
    color: black;
    font-size: 3.5em;
    text-align:center;
}

.aud-button{
    height:50vh;
}

.audition{
    background-image: url(../img/Multicity.jpg);
    background-size: cover;
}

.dhanbad{
    background-image: url(../img/dhanbad.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.soon{
    background-image: url(../img/soon.png);
    background-size: contain;
    background-repeat: no-repeat;
}