.container{
	display:block;
	margin:auto;
	width:75%;
	background: url(../images/old-paper-lowres.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container input,textarea{
	display:block;
	margin:0.5em auto;
	padding:0.5em;
	border: 0;
	border-bottom: 1px solid #ccc;
	width: 19em;
	background:rgba(255,255,255,.8);
}

#submit{
	background:rgba(0,180,255,.8);
}
