*{
	font-size:26px;
	font-family: Raleway;
}
#cahead{



text-shadow: 0px 10px 5px rgba(0,0,0,0.1),
                 5px 10px 5px rgba(0,0,0,0.05);
                
margin: 42px;
	font-size:59px;
	color: #fff !important;
	    text-transform: uppercase;
		
}
#message{
	padding:20px;
	font-size: 40px;
	color:black;
	background:#da1d09;
	font-family: Arial !important;
	display: none;
}
#bg{font-family: Arial !important;
	position:fixed;
	z-index: -1;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: url("../../images/board.jpg") no-repeat center center; 
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
	background: linear-gradient(to bottom, rgb(182, 202, 211) 0%, rgb(89, 131, 143) 38%, rgb(32, 79, 85) 77%, rgb(13, 60, 68) 100%);
}
.container{
	display:block;
	margin:auto;
	width:55%;
	
}

.container input,textarea{
	display:block;
	margin:0.5em auto;
	padding:0.5em;
	border: 0;
	outline:none;
	width:90%;
	background:rgba(255,255,255,1);
	border-radius:3px;
	transition: background .2s ease-in-out, box-shadow .2s ease-in;
	
}
::-webkit-input-placeholder{
	color:black;
}
.container:focus,input:focus,textarea:focus{
    background-color: rgb(55,191,189);
    color: white !important;
	transition:all .3 ease-in-out;
	box-shadow: 0px 0px 20px #212121 inset;
	border-radius:3px 3px 0px 0px;
}
:focus::-webkit-input-placeholder{
	color:white;
}

#submit{
	margin-top:50px;
	width:50%;
	background:#66bb6a;
	transition:all .3s ease-in-out;
}
#submit:hover{
	transform:scale(1.2);
	box-shadow
	transition:all .3s ease-in-out;
}
form{
	background-color: rgba(27,36,24,1);
    padding:20px 10px;
    border-radius: 5px;
    margin-bottom:50px;
	box-shadow:0 0 10px rgba(0, 0, 0, 1);
	position: relative;
}
}