.loginlightbox:target{
	display: block;
	top:20px;
	width:300px;
	padding:20px;
	padding-bottom:10px !important;
	position: absolute;
	right:20px;
	margin-left: 20px;
    background-color: rgba(0,0,0,0.9);
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    font-family: bebas;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    -webkit-animation: loginEnter 1000ms cubic-bezier(0.815, 0.185, 0.215, 1); /* older webkit */
-webkit-animation: loginEnter 1000ms cubic-bezier(0.815, 0.185, 0.215, 1.400); 
   -moz-animation: loginEnter 1000ms cubic-bezier(0.815, 0.185, 0.215, 1.400); 
     -o-animation: loginEnter 1000ms cubic-bezier(0.815, 0.185, 0.215, 1.400); 
        animation: loginEnter 1000ms cubic-bezier(0.815, 0.185, 0.215, 1.400); /* custom */

-webkit-animation-timing-function: cubic-bezier(0.815, 0.185, 0.215, 1); /* older webkit */
-webkit-animation-timing-function: cubic-bezier(0.815, 0.185, 0.215, 1.400); 
   -moz-animation-timing-function: cubic-bezier(0.815, 0.185, 0.215, 1.400); 
     -o-animation-timing-function: cubic-bezier(0.815, 0.185, 0.215, 1.400); 
        animation-timing-function: cubic-bezier(0.815, 0.185, 0.215, 1.400); /* custom */
}
.wheel,.medal{
display: block;
}
.links{
	display: none;
}
body{
	overflow-x: none;
	overflow-y: none;
}
#teamsbtnnw{
	display: block !important;
}
.loginexit{
	color:white;
	font-size: 15px;
	   position: absolute;
    background: red;
    border-radius:10px;
    color: white;
    width:20px;
    height:20px;
	padding:3px;
    top: -10px;
    right: -10px;
	box-shadow: 0 0 10px #FFFFFF;
}
#date{
	right:2em;
}
#navbar{
	margin: 0 0 0 -10%;
	left:30%;

}
#contenthere img{
	height: 200px !important;
}
#eve_short_desc p{
	width:100%;
	padding-left: 100px;
	padding-right: 100px;
}

.NavWrap{
	position: fixed;
	background-image: url("../../images/plank_black.jpg");
	background-repeat: no-repeat;
    background-size: cover;
}
#mainarea{
	top: 120px;
	left: 220px;
	width: calc(100% - 240px);
	
}
#mainareaalt{
	width: calc(80% - 270px);
    height:calc(100% - 170px);
	top: 170px;
	left: 250px;
}
#sidebar{
	position: fixed;
	width:180px;
	height:500px;
	top:135px;
	left:10px;
}
.ph-btn-green{
	width:100%;
}
.backbtn{
	position: fixed;
}
.backbtn2{
	position: fixed;
}
.ph-btn-blue{
	margin-top: 30px !important;
	margin-bottom: 10px !important;
}
#eventsbtn{
	display: none;
}
.clubs{
  	width:600px;
}
#secondlogo{
	height: 100px;
}
