.events{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:black;
    z-index:4;
    color:white;
}
.events .side-nav{
    height:100%;
    width:200px;
    left:0;
}

.events .main-content .base-events-list{
    left: 0;
    top: 0;
}

.base-events-list li{
    padding:10px;
}

.events .main-events{
    position:fixed;
    top:0;
    background: cyan;
}
.main-events ul{
    text-align:center;
}
.main-events ul li{
    float:left;
}
