.body {
    background: #000;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Mali', cursive;
}
#cover{
    position: absolute;
    top:0;
    left:0px;
    height:100%;
    width:100%;
    z-index: 2;
    cursor: pointer;
}
.hashtag{
    text-shadow: #efe8e8 0px 0px 3px;
    color: #9e9e9e;
}
.anwName{
    /* font-family: 'Pacifico', cursive !important;
    text-align: center; */
    max-width: 60%;
    width: 350px;
}
#anwLogo{
    max-width: 80%;
}
#landingContent .anwName{
    font-size: 3em;
}
@font-face {
    font-family: 'PTC55F';
    src: url('../fonts/FoglihtenNo07.otf') format('truetype');
  }

.themeName {
    font-family: PTC55F, cursive !important;
    font-size: 32px !important;
}
#logo,
#logo-white {
    /* background: url('') no-repeat; */
    background-size: 47.4px 47.4px;
    width: 47.4px;
    height: 47.4px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
    transition-timing-function: ease
}

#logo-white {
    background-image: url('/assets/img/logo_favi.png')
}

.mobile-nav-btn {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 48px;
    height: 22px;
    background: #333;
    background: url(../img/menu.png) no-repeat center center;
    background-size: 48px 22px;
    display: none;
    z-index: 101
}


.mobile-nav-btn.white {
    background: url(../img/menu-white.png) no-repeat center center;
    background-size: 48px 22px
}

#mobile-nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #fff;
    z-index: 102;
    display: none
}

#mobile-nav .close {
    position: absolute;
    top: 20px;
    right: 20px
}

#mobile-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    height: 100%
}

#mobile-nav li {
    display: block
}

#mobile-nav li a {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    color: #333;
    text-decoration: none
}

#menu {
    z-index: 100;
    top: 20px;
    position: fixed;
    transform: translateX(-50%);
    left: 50%
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#menu li {
    display: inline-block;
    border-bottom: 1px solid transparent;
    cursor: pointer
}

#menu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: inherit
}

#menu li a:visited {
    text-decoration: none;
    color: inherit
}

#menu li:hover {
    border-bottom: 1px solid #333;
    border-color: inherit
}

#cta {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 100;
    color: #fff;
    background: #333
}

#cta:hover {
    color: #333;
    background: #fff
}

#cta a {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: 10px 20px
}

#cta a:hover {
    text-decoration: none
}

.fp {
    width: 100vw;
    height: 100vh
}

.plaxEl {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.playbtn {
    color: #e0e0e0;
    padding: 10px 40px;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform-origin: 50%
}

.playbtnzoom {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 25%
}

.playbtndecoy {
    visibility: hidden
}

.title {
    background: url(../img/htitle-inverted.png) no-repeat center center;
    background-size: 30%;
    z-index: 101;
    position: absolute
}

.title2 {
    font-family: lato;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: url(https://www.hdwallpapers.net/previews/3d-colorful-spiral-1057.jpg) 10%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.title2container {
    position: absolute;
    width: 100vw;
    height: 100vh
}

.titlesvg {
    -webkit-filter: invert(100%);
    filter: invert(100%)
}

.trailerplayer {
    display: none
}

.trailerplayer.show {
    visibility: visible
}

#trailer-section {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 100vw
}

.trailer-text {
    display: block
}

.trailer-icon {
    margin-bottom: 20px;
    width: 70px
}

#social {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 90;
    bottom: 20px;
    right: 20px;
    text-transform: uppercase
}

#social .social-white {
    position: absolute;
    left: 0
}

#social a {
    margin: 0 7px;
    position: relative
}

.sec2 {
    background: url(../img/syn.jpg) no-repeat center center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    color: #fff;
    box-shadow: -30px 0 70px 30px #000 inset
}

#start-section {
    background: #000
}



.bcg {
    background-image: url(../img/bg.jpg);
    background-color: #000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none
}

.tickets-btn {
    color: #fff;
    padding: 15px 25px;
    border: 1px solid #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase
}

.tickets-btn:hover {
    background: #fff;
    color: #000
}

#synopsis-section {
    background-image: url(../img/av5.jpg);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}
.aboutSection{
    background-image: linear-gradient(to right, #050708e8, #010b1dc4, #250c05f5),url(/assets/images/aboutBG.jpg) !important;
    
}
#synopsis-section .darkoverlay {
    display: none
}

#synopsis-section .synopsis {
    z-index: 3;
    position: relative;
    max-width: 700px;
    padding: 40px;
    padding-bottom: 80px
}

.syn-title {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.syn-title h2 {
    text-align: center
}

#synopsis-section .synopsis h1 {
    font-size: 3em;
    margin-bottom: 0;
    text-align: center
}

.syn-title h1 {
    font-size: 3em;
    margin-bottom: 0;
    text-align: center
}

@media only screen and (max-width:760px) {
    #synopsis-section .synopsis h1 {
        font-size: 2.1em
    }
}

#synopsis-section .synopsis h2 {
    text-align: center;
    font-size: 1.38em;
    margin-bottom: 70px
}

#synopsis-section .synopsis h3 {
    font-size: x-large;
    margin-top: 40px
}

#synopsis-section .synopsis a,
#synopsis-section .synopsis a:visited {
    color: #fff
}

#credits-section {
    background-image: url(../img/creditsbg.png)
}

#tickets-section {
    background-image: url(../img/av1.jpg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center
}

.logolink {
    display: block;
    width: 100%;
    height: 100%
}

.press {
    display: flex;
    justify-content: space-evenly
}

@media only screen and (max-width:760px) {
    #social {
        display: flex;
        right: 20px;
        left: 20px
    }

    #social span {
        margin-right: auto
    }

    #social .social-white {
        opacity: 1 !important
    }

    .trailer-text {
        display: none
    }

    .trailer-icon {
        display: block;
        margin-bottom: 0
    }

    video {
        width: 100%
    }

    .syn-title h1 {
        font-size: 2.1em
    }
}

#slide-2 .bcg {
    background-image: url(../img/hbg2.jpg)
}

#slide-2 h2,
#slide-3 h2 {
    color: #fff
}

#slide-3 p,
#slide-3 p {
    color: #b2b2b2
}

#slide-3 .bcg {
    background-image: url(../img/img_earth2.jpg)
}