.inputbabe{
    		width:90% !important;
    		outline:none;
    	}

 #pirateboy{
 	top:7px;
    display:none;
	 transform: scale(.5);
 }
.coolk{	
    	transition: box-shadow 0.3s ease-in-out;
    
}.coolk:focus{
    box-shadow:#FFFFFF 0 0 5px;
    background:rgba(245, 245, 245,1);
    color:#000000;

}
#biglogo{
    background-size:auto 80%;
}
#mainForm{
            width:90% !important;
            left:5%;
}
.faqheader{
    font-size: 1.5em !important;
}
.faq{
    margin:10px;
    color:red;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif !important;
    text-align:left !important;
}
.faqa{
margin:20px;
font-size: 1em;
    text-align:left !important;

font-family: 'Roboto', sans-serif !important;
}