@font-face {
font-family:"agency";
src:url(../fonts/AgencyFB.ttf) format("truetype");
}

@font-face {
font-family:"bebas";
src:url(../fonts/BebasNeue.ttf) format("truetype");
}

@font-face {
font-family:"vinque";
src:url(../fonts/vinque.ttf) format("truetype");
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
p {
margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;
}
a{
text-decoration:none;
color:inherit;
}
b{
font-weight:700;
font-size:1.5em;
}





* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

#preloader{
position:absolute;
width:100%;
}

#preloader .bg{
	position:fixed;
	left:0;top:0;
	width:100%;height:100%;
	background:rgba(0,0,0,0.8);
}
#preloader .logo{
	position:fixed;
	width:100%;
	text-align:center;
	top:50%;
	transform:translateY(-50%);
}
#preloader .logo img{
	width: 200px;
	height: 170px;
}
#preloader .circle {
	position: relative;
	margin: 10% auto;
	width: 5em;
	height: 5em;
	border-radius: 2.5em;
	-webkit-box-sizing: border-box;
	border: solid 10px rgba(255, 255, 255, 0.2);
	border-top-color: #fff;
	-webkit-animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

.tagline{
	font-family:bebas;
	color:#fff;
	font-size:2.5em;
	position:fixed;
	bottom:10%;
	left:50%;
	transform:translatex(-50%);
}


button {
	border: none;
	background: none;
	cursor: pointer;
	color: #000;
	position: fixed;
	height: 3.5em;
	width: 3.5em;
	left: 50%;
	bottom: -1.75em;
	z-index: 11;
	padding-bottom: 1em;
	margin-left: -1.75em;
	font-size: 1.5em;
	text-align: center;
	background-color: #ddd;
	border-radius: 50%;
}

button:hover, button:active, button:focus {
	background-color: #eee;
}

.wrapper {
	font-size: 1em;
	position: fixed;
	width: 26em;
	height: 26em;
	bottom: -13em;
	left: 50%;
	z-index: 10;
	overflow: hidden;
	margin-left: -13em;
	border-radius: 50%;
	-webkit-transform: scale(0.1);
	-webkit-transition: all 0.3s ease;
}

.opened {
	border-radius: 50%;
	-webkit-transform: scale(1);
}

.wrapper li {
	font-size: 1.5em;	
	position: absolute;
	overflow: hidden;
	width: 10em;
	height: 10em;
	left: 50%;
	top: 50%;
	margin-top: -1.3em;
	margin-left: -10em;
	-webkit-transform-origin: 100% 100%;
	-webkit-transition: border 0.3s ease;
	font-family:bebas;
}

.wrapper li a {
	display: block;
	font-size: 0.8em;
	position: absolute;
	height: 14.5em;
	width: 14.5em;
	bottom: -7.25em;
	right: -7.25em;
	padding-top: 1.8em;
	border-radius: 50%;
	color: #000;
	text-decoration: none;
	text-align: center;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-transition: opacity 0.3s, color 0.3s;
}

.wrapper li a span {
	font-size: 1.1em;
	opacity: 0.7;
}

.wrapper li:first-child {
	-webkit-transform: rotate(8deg) skew(72deg);
}

.wrapper li:nth-child(2) {
	-webkit-transform: rotate(44deg) skew(72deg);
}

.wrapper li:nth-child(3) {
	-webkit-transform: rotate(80deg) skew(72deg);
}

.wrapper li:nth-child(4) {
	-webkit-transform: rotate(116deg) skew(72deg);
}

.wrapper li:nth-child(5) {
	-webkit-transform: rotate(152deg) skew(72deg);
}


.wrapper li:nth-child(odd) a {
	background-color: rgba(255,255,255,0.8);
}.wrapper li:nth-child(odd) a:hover {
	background-color: rgba(255,255,255,0.6);
}

.wrapper li:nth-child(even) a {
	background-color: rgba(255,255,255,0.6);
}.wrapper li:nth-child(even) a:hover {
	background-color: rgba(255,255,255,0.8);
}

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	opacity: 0;
	transition: all 0.3s ease;
	pointer-events: none;
}

.overlay.on-overlay {
	opacity: 1;
	pointer-events: auto;
}


/* Responsive awesomeness */
@media screen and (max-width:480px){
	.csstransforms .cn-wrapper{
		font-size:.68em;
	}
	.cn-button{
		font-size:1em;
	}
	.csstransforms .cn-wrapper li {
		font-size:1.52em;
	}
}
 
@media screen and (max-width:320px){
	.no-csstransforms .cn-wrapper{
		width:15.15px;
		margin-left: -7.5em;
	}
	.no-csstransforms .cn-wrapper li{
		height:3em;
		width:3em;
	}
}


#intro{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#efefef;
}

#intro .links{
	margin:1em;
	width:15em;
	text-align:center;
	font-family:bebas;
	font-size:1.2em;
}
#intro .links li{
	margin:0.5em;
	background:rgba(255,255,255,0.6);
	padding:0.5em; 
	border-radius:0.1em;
}
#intro .links li:hover{
	background:rgba(255,255,255,0.8);
}


.parallelogram{
	position:fixed;
	display:block;
	left:100%;
	width: 110%;
	height: 100%;
	color: #000;
	background: url("../../images/maps.png");
	-webkit-transform: skewX(-20deg);
	transform: skewX(-20deg);
	-o-text-overflow: clip;
	text-overflow: clip;
	transition: all linear 0.75s;
}
.parallelogram:hover{
	left:0;
}

.datagrid table { border-collapse: collapse; text-align: left; width: 100%; opacity:0.8; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }.datagrid table td, .datagrid table th { padding: 10px 20px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000E14), color-stop(1, #75757F) );background:-moz-linear-gradient( center top, #000E14 5%, #75757F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000E14', endColorstr='#75757F');background-color:#000E14; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 0px solid #0070A8; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #00496B; font-size: 12px;font-weight: normal; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }
.parallelogram .content{
	position:relative;
	-webkit-transform: skewX(20deg);
	transform: skewX(20deg);
	margin:auto 20%;
	width:50%;
	max-height:100%;
	overflow-y:scroll;
	font-family:vinque;
	line-height:1.4em;
	text-align:center;
}
.parallelogram h1{
	background:rgba(0,0,0,0.6);
	color:#caa860;
	padding:1em;
	margin:0.5em;
	font-size:1.4em;
	text-align:center;
}




.leaderboard.content{
    background-color: #ffffff;
   border: 1px solid black;
   opacity: 0.5;
   border-radius: 25px;
   height: 450px; 
   left:10px;
  width:500px;
  padding:5px;
}

#date{
	position:absolute;
	top:2em;
	right:2em;
	border: solid rgba(255,255,255,0.8) 0.2em;
	border-radius:0.5em;
	display:table;
	padding:0.75em;
}
.text{
	display:table-cell;
	color:#fff;
	font-family:bebas;
	font-size: 2.5em;
	vertical-align:middle;
	padding: 0 0 0 1em;
}
#glass {
	animation: glass 5s cubic-bezier(.8,0,.2,1) infinite;
	display:table-cell;
}
@keyframes glass {
  90% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
#top {
  animation: top 5s linear infinite;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@keyframes top {
  90% { transform: scale(0); }
  100% { transform: scale(0);}
}
#bottom {
  animation: bottom 5s linear infinite;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}
#line {
  animation: line 5s linear infinite;
  border-left: 1px dotted #fff;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 20px;
  left: 20px;
}
@keyframes line {
  10% { height: 20px; }
  100% { height: 20px; }
}

@-webkit-keyframes fadeInScale {
  0% { -webkit-transform: scale(0.6); opacity: 0; }
  100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
  0% { -moz-transform: scale(0.6); opacity: 0; }
  100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
  0% { -o-transform: scale(0.6); opacity: 0; }
  100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
  0% { -ms-transform: scale(0.6); opacity: 0; }
  100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
  0% { transform: scale(0.6); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.lightbox{
	width: 100%;
	height: 100%;
	position: fixed; 
	top: 0; 
	left: 0; 
	display: none; 
	z-index: 999;
	background:rgba(0,0,0,0.8);
	color:#fff;
}
.lightbox:target{
	display: table;
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
}
.lightbox .close{
	position:fixed;
	float:left;
	font-weight:bold;
	font-size:3em;
	padding:1em;
	font-family:arial;
} 
.logreg h2{
	margin:2em;
	text-align:center;
	font-family:bebas;
	font-size:2.5em;
}
.logreg .box{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	text-align:center;
	border-radius:0.2em;
	background:rgba(0,0,0,0.8);
}
.logreg .inp{
	font-size: 1.5em;
	border: 0;
	border-bottom: 1px solid #ccc;
	background: none;
	border-radius: 0;
	width: 19em;
	padding: 0.5em;
	margin: 0.5em;
	display: block;
	color:#fff;
	font-family:agency;
}
.logreg .button{
	font-size: 100%;
	border: 0;
	padding: 0.5em 1em;
	margin:1em;
	border-radius: 0.2em;
	background: #efefef;
	color: #000;
	float:right;
}
.logreg .button:hover{
	background:#fff;
}

::-webkit-scrollbar {
width: 0.3em;
}
::-webkit-scrollbar-thumb {
background: #000;
}
::-webkit-scrollbar-track {
background:#efefef;
}
::-webkit-scrollbar-thumb:window-inactive {
background: #000;
}
