<!----cultural---->
			<div class="team_text">Cultural</div>

			<div class="team_mem">
				<div class="mem_content">
					<img src="../images/team1.png"/>
					<br>
					<span class="mem_name">Rohit Gupta</span>
					<!-- <br>
					<a href="mailto:aditya.me16@iitp.ac.in">aditya.me16@iitp.ac.in</a>
					<br>
					<a href="tel:7424947945">7424947945</a> -->
				</div>
			</div>

			<div class="team_blank"></div>
				
			<div class="team_mem">
				<div class="mem_content">
					<img src="../images/team1.png"/>
					<br>
					<span class="mem_name">Vijay Yadav</span>
					<!-- <br>
					<a href="mailto:aditya.me16@iitp.ac.in">aditya.me16@iitp.ac.in</a>
					<br>
					<a href="tel:7424947945">7424947945</a> -->
				</div>
			</div>
