<html>
	<head>
		<style type="text/css">
			body
			{
				color: black;
			}
		</style>
	</head>
	<body>
		<h1 style="text-align:right">Accommodation Policy</h1>
		<ul>
			<li>Accommodation will be provided only to the students who have a valid Student ID Card and Anwesha'18 ID.</li>
			<li>Entry will be only through the 'Gate 1' of IIT Patna, all other gates will be closed for entry.</li>
			
			<li>All student participants must carry their valid College photo ID card. Students without valid photo identity card will not be allowed inside the campus during Anwesha'18</li>
			
			<li>Those carrying laptops and other valuable items will have to declare their belongings at the main gate and Registration Desk of Anwesha'18 through the form provided to them at the gate. Your belongings will be checked on your way out of IIT Patna and those who fail to produce their earlier mentioned declarations may have their belongings impounded.</li>

			<li>When you arrive at IIT Patna, you will have to come to registration desk. Your place of stay will be allotted then.</li>
			<li>Accommodation would be strictly on first come first serve basis.</li>
			<li>Priority will be given to students who have a longer duration of stay.</li>
			<li>We shall provide you with mattresses, pillows, and a blanket. However, you are encouraged to carry your own blanket as well.</li>
			<li>Accommodation will be given only after it has been confirmed by the Hospitality Group Members.</li>
			<li>All those that don’t have confirmed accommodation inside the campus will not be allowed to use the accommodation facilities.</li>
			
			<li>Proper checks would be made to avoid any illegal stay. Any one failing to produce their receipts of accommodation would be heavily fined and may face legal actions.</li>
			
			<li>Carrying alcohol, drugs, sharp objects and explosives of any kind is strictly prohibited inside the campus. Any other item if deemed unsafe will be confiscated.</li>

			<li>Vehicles will not be allowed beyond parking lot near Gate 1.</li>
			<li>Anwesha'18 and IIT Patna will not be responsible for any kind of mishaps and damage that may occur through the duration of stay for Anwesha'18.</li>
			<li>In case of any discrepancies, decisions made by Hospitality committee will be final and bonding.</li>

		</ul>

	<!-----scripts------>
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript">
	//ajax on menu items
			$('.close_icon').click(function()
			{
				$('.ajax_loading_bckgrnd').fadeOut(800);
				$('.ajax_loading_div').addClass('ajax_loading_entry');
			});
		</script>
		
	</body>
</html>
