<div class="events" ng-controller="eventCtrl as ectrl" ng-cloak>


	<div class="main-events topbar">
		<ul>
			<li ng-repeat="(ename,eobj) in ectrl.events.sub" ng-click="ectrl.showEvent(ename,0)" ng-bind="ename" ng-class="ectrl.isCurrCat(ename)?'curr-cat':''"></li>
		</ul>
	</div>
	<div class="base">
	<div class="base-event-details" ng-repeat="(ename,obj) in ectrl.sub_events.sub" ng-show="ectrl.sub_events.hasSub == 0">
			<div class="details">
				<div ng-bind-html="obj.details"></div>
				<div class="size" >Team size:<span ng-bind-html="obj.size"></span></div>
				<div class="day" >Day:<span ng-bind-html="obj.day"></span></div>
			</div>
			<div id="regtext">
				Register
				<div id="no-registration" ng-show="!ectrl.data.can_register" ng-click="dctrl.showLogForm()">Login first, to register for events</div>
				<div id="registration" ng-show="ectrl.data.can_register">
					<span class="status" ng-class="obj.isRegistered?'registered-yes':'registered-no'" ng-bind="obj.reg_status"></span>
					<ul class="group-list" ng-show="obj.size!=1">
					You will be registered for the group automatically, enter other participant's names
						<li ng-repeat="(i,name) in obj.gList">
							Participant {{i}}:<input type="text" class="inp" ng-model="obj.gList[i]"/>
						</li>
						<li>
							Group Name:<input type="text" class="inp" ng-model="obj.gName"/>
						</li>
					</ul>
					<button class="register-button" ng-click="ectrl.registerEvent(ename,obj)" ng-show="!obj.isRegistered">Register</button>
				</div>
			</div>

	</div>
	</div>

	<div class="sidebar">
		<div class="cont">
			<ul class="base-events-list">
				<li ng-repeat="(ename,obj) in ectrl.sub_events.sub" ng-click="ectrl.showEvent(ename,1)" ng-class="ectrl.sub_events.hasSub == 1?'category':'base_event'" ng-bind="ename"></li>
			</ul>
		</div>
	</div>
	<div class="close"><a ng-click="ectrl.backEvent()" href="#">&larr;</a></div>

</div>
