<div class="events" ng-controller="eventCtrl as ectrl">
	<div class="main-events">
		<ul>
			<a href="#"><li ng-repeat="(ename,eobj) in ectrl.events.sub" ng-click="ectrl.showEvent(ename,0)">{{ename}}</li></a>
		</ul>
	</div>
	<ul class="base-events-list">
		<a href="#"><li ng-repeat="(ename,obj) in ectrl.sub_events.sub" ng-click="ectrl.showEvent(ename,1)" ng-class="ectrl.sub_events.hasSub == 1?'category':'base_event'">{{ename}}</li></a>
	</ul>
	<div class="base-event-details" ng-repeat="(ename,obj) in ectrl.sub_events.sub" ng-show="ectrl.sub_events.hasSub == 0">
		<div ng-bind-html="obj.details"></div>
	</div>
</div>
