<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Gallery - Anwesha '17</title>
	<script src='../assets/js/jquery.min.js'></script>
	<script src="../assets/src/jquery.fb.albumbrowser.js"></script>

	<link rel="stylesheet" type="text/css" href="../assets/src/jquery.fb.albumbrowser.css" />
	<link rel="stylesheet" type="text/css" href="../assets/css/gallery.css" />
</head>

<body>
	<div class="holder">
		<div class="day"></div>
		<div class="day0"></div>
		<div class="day1"></div>
		<div class="day2"></div>
		<div class="day3"></div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
		  $(".day0").FacebookAlbumBrowser({
				account: "anwesha.iitpatna",
				accessToken: "775908159169504|cYEIsh0rs25OQQC8Ex2hXyCOut4",
				showComments: true,
				commentsLimit:3,
				showAccountInfo: false,
				showImageCount: false,
				showImageText: false,
				shareButton: false,
				albumsPageSize: 0,
				photosPageSize: 0,
				lightbox: true,
		onlyAlbum: [917314478301198],
				photosCheckbox: false,
				pluginImagesPath: "../assets/src/",
				likeButton: false,
				shareButton: false,
				addThis:"ra-52638e915dd79612"
			});

		});
		$(document).ready(function () {
		  $(".day1").FacebookAlbumBrowser({
				account: "anwesha.iitpatna",
				accessToken: "775908159169504|cYEIsh0rs25OQQC8Ex2hXyCOut4",
				showComments: true,
				commentsLimit:3,
				showAccountInfo: false,
				showImageCount: false,
				showImageText: false,
				shareButton: false,
				albumsPageSize: 0,
				photosPageSize: 0,
				lightbox: true,
		onlyAlbum: [917865414912771],
				photosCheckbox: false,
				pluginImagesPath: "../assets/src/",
				likeButton: false,
				shareButton: false,
				addThis:"ra-52638e915dd79612"
			});

		});

		$(document).ready(function () {
		  $(".day2").FacebookAlbumBrowser({
				account: "anwesha.iitpatna",
				accessToken: "775908159169504|cYEIsh0rs25OQQC8Ex2hXyCOut4",
				showComments: true,
				commentsLimit:3,
				showAccountInfo: false,
				showImageCount: false,
				showImageText: false,
				shareButton: false,
				albumsPageSize: 0,
				photosPageSize: 0,
				lightbox: true,
		onlyAlbum: [918525744846738],
				photosCheckbox: false,
				pluginImagesPath: "assert/src/",
				likeButton: false,
				shareButton: false,
				addThis:"ra-52638e915dd79612"
			});

		});

		$(document).ready(function () {
		  $(".day3").FacebookAlbumBrowser({
				account: "anwesha.iitpatna",
				accessToken: "775908159169504|cYEIsh0rs25OQQC8Ex2hXyCOut4",
				showComments: true,
				commentsLimit:3,
				showAccountInfo: false,
				showImageCount: false,
				showImageText: false,
				shareButton: false,
				albumsPageSize: 0,
				photosPageSize: 0,
				lightbox: true,
		onlyAlbum: [918910901474889],
				photosCheckbox: false,
				pluginImagesPath: "../assets/src/",
				likeButton: false,
				shareButton: false,
				addThis:"ra-52638e915dd79612"
			});

		});


	</script>
	<div class="close"><a href="#" onclick="document.body.style.overflow='visible';">X</a></div>


</body>
</html>

