<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Anwesha '17</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="icon" href="favicon.ico" type="image/x-icon" />

		<script src='js/jquery.min.js'></script>
		<script src='js/jquery.transit.min.js'></script>
	</head>

	<body>


		<div id="intro">
			<ul class="links">
				<a href="#login"><li>Registration</li></a>
				<a href="#register"><li>Campus Ambassador</li></a>
                <a href="#leaderboard"><li>Campus Ambassador Leaderboard</li></a>
			</ul>

            
           
			<div id="date">
				<div id="glass">
					<div id="top"></div>
					<div id="bottom"></div>
					<div id="line"></div>
				</div>
				<div class="text">
					Jan 27 28 29
				</div>
			</div>
		</div>

		<div class="parallelogram">
			<div class="content">
				<h1>The Rime of the Ancient Mariner</h1>
				<b>PART I </b><br>
				It is an ancient Mariner, <br>
				And he stoppeth one of three. <br>
				'By thy long grey beard and glittering eye, <br>
				Now wherefore stopp'st thou me? <br>
				<br>
				The Bridegroom's doors are opened wide, <br>
				And I am next of kin; <br>
				The guests are met, the feast is set: <br>
				May'st hear the merry din.' <br>
				<br>
				He holds him with his skinny hand, <br>
				'There was a ship,' quoth he. <br>
				'Hold off! unhand me, grey-beard loon!' <br>
				Eftsoons his hand dropt he. <br>
				<br>
				He holds him with his glittering eye— <br>
				The Wedding-Guest stood still, <br>
				And listens like a three years' child: <br>
				The Mariner hath his will. <br>
				<br>
				The Wedding-Guest sat on a stone: <br>
				He cannot choose but hear; <br>
				And thus spake on that ancient man, <br>
				The bright-eyed Mariner. <br>
				<br>
				'The ship was cheered, the harbour cleared, <br>
				Merrily did we drop <br>
				Below the kirk, below the hill, <br>
				Below the lighthouse top. <br>
				<br>
				The Sun came up upon the left, <br>
				Out of the sea came he! <br>
				And he shone bright, and on the right <br>
				Went down into the sea. <br>
				<br>
				Higher and higher every day, <br>
				Till over the mast at noon—' <br>
				The Wedding-Guest here beat his breast, <br>
				For he heard the loud bassoon. <br>
				<br>
				The bride hath paced into the hall, <br>
				Red as a rose is she; <br>
				Nodding their heads before her goes <br>
				The merry minstrelsy. <br>
				<br>
				The Wedding-Guest he beat his breast, <br>
				Yet he cannot choose but hear; <br>
				And thus spake on that ancient man, <br>
				The bright-eyed Mariner. <br>
				<br>
				And now the STORM-BLAST came, and he <br>
				Was tyrannous and strong: <br>
				He struck with his o'ertaking wings, <br>
				And chased us south along. <br>
				<br>
				With sloping masts and dipping prow, <br>
				As who pursued with yell and blow <br>
				Still treads the shadow of his foe, <br>
				And forward bends his head, <br>
				The ship drove fast, loud roared the blast, <br>
				And southward aye we fled. <br>
				<br>
				And now there came both mist and snow, <br>
				And it grew wondrous cold: <br>
				And ice, mast-high, came floating by, <br>
				As green as emerald. <br>
				<br>
				And through the drifts the snowy clifts <br>
				Did send a dismal sheen: <br>
				Nor shapes of men nor beasts we ken— <br>
				The ice was all between. <br>
				<br>
				The ice was here, the ice was there, <br>
				The ice was all around: <br>
				It cracked and growled, and roared and howled, <br>
				Like noises in a swound! <br>
				<br>
				At length did cross an Albatross, <br>
				Thorough the fog it came; <br>
				As if it had been a Christian soul, <br>
				We hailed it in God's name. <br>
				<br>
				It ate the food it ne'er had eat, <br>
				And round and round it flew. <br>
				The ice did split with a thunder-fit; <br>
				The helmsman steered us through! <br>
				<br>
				And a good south wind sprung up behind; <br>
				The Albatross did follow, <br>
				And every day, for food or play, <br>
				Came to the mariner's hollo! <br>
				<br>
				In mist or cloud, on mast or shroud, <br>
				It perched for vespers nine; <br>
				Whiles all the night, through fog-smoke white, <br>
				Glimmered the white Moon-shine.' <br>
				<br>
				'God save thee, ancient Mariner! <br>
				From the fiends, that plague thee thus!— <br>
				Why look'st thou so?'—With my cross-bow <br>
				I shot the ALBATROSS. <br>
				<br>
				<b>PART II</b> <br>
				The Sun now rose upon the right: <br>
				Out of the sea came he, <br>
				Still hid in mist, and on the left <br>
				Went down into the sea. <br>
				<br>
				And the good south wind still blew behind, <br>
				But no sweet bird did follow, <br>
				Nor any day for food or play <br>
				Came to the mariner's hollo! <br>
				<br>
				And I had done a hellish thing, <br>
				And it would work 'em woe: <br>
				For all averred, I had killed the bird <br>
				That made the breeze to blow. <br>
				Ah wretch! said they, the bird to slay, <br>
				That made the breeze to blow! <br>
				<br>
				Nor dim nor red, like God's own head, <br>
				The glorious Sun uprist: <br>
				Then all averred, I had killed the bird <br>
				That brought the fog and mist. <br>
				'Twas right, said they, such birds to slay, <br>
				That bring the fog and mist. <br>
				<br>
				The fair breeze blew, the white foam flew, <br>
				The furrow followed free; <br>
				We were the first that ever burst <br>
				Into that silent sea. <br>
				<br>
				Down dropt the breeze, the sails dropt down, <br>
				'Twas sad as sad could be; <br>
				And we did speak only to break <br>
				The silence of the sea! <br>
				<br>
				All in a hot and copper sky, <br>
				The bloody Sun, at noon, <br>
				Right up above the mast did stand, <br>
				No bigger than the Moon. <br>
				<br>
				Day after day, day after day, <br>
				We stuck, nor breath nor motion; <br>
				As idle as a painted ship <br>
				Upon a painted ocean. <br>
				<br>
				Water, water, every where, <br>
				And all the boards did shrink; <br>
				Water, water, every where, <br>
				Nor any drop to drink. <br>
				<br>
				The very deep did rot: O Christ! <br>
				That ever this should be! <br>
				Yea, slimy things did crawl with legs <br>
				Upon the slimy sea. <br>
				<br>
				About, about, in reel and rout <br>
				The death-fires danced at night; <br>
				The water, like a witch's oils, <br>
				Burnt green, and blue and white. <br>
				<br>
				And some in dreams assurèd were <br>
				Of the Spirit that plagued us so; <br>
				Nine fathom deep he had followed us <br>
				From the land of mist and snow. <br>
				<br>
				And every tongue, through utter drought, <br>
				Was withered at the root; <br>
				We could not speak, no more than if <br>
				We had been choked with soot. <br>
				<br>
				Ah! well a-day! what evil looks <br>
				Had I from old and young! <br>
				Instead of the cross, the Albatross <br>
				About my neck was hung. <br>
				<br>
				<b>PART III</b> <br>
				There passed a weary time. Each throat <br>
				Was parched, and glazed each eye. <br>
				A weary time! a weary time! <br>
				How glazed each weary eye, <br>
				<br>
				When looking westward, I beheld <br>
				A something in the sky. <br>
				<br>
				At first it seemed a little speck, <br>
				And then it seemed a mist; <br>
				It moved and moved, and took at last <br>
				A certain shape, I wist. <br>
				<br>
				A speck, a mist, a shape, I wist! <br>
				And still it neared and neared: <br>
				As if it dodged a water-sprite, <br>
				It plunged and tacked and veered. <br>
				<br>
				With throats unslaked, with black lips baked, <br>
				We could nor laugh nor wail; <br>
				Through utter drought all dumb we stood! <br>
				I bit my arm, I sucked the blood, <br>
				And cried, A sail! a sail! <br>
				<br>
				With throats unslaked, with black lips baked, <br>
				Agape they heard me call: <br>
				Gramercy! they for joy did grin, <br>
				And all at once their breath drew in. <br>
				As they were drinking all. <br>
				<br>
				See! see! (I cried) she tacks no more! <br>
				Hither to work us weal; <br>
				Without a breeze, without a tide, <br>
				She steadies with upright keel! <br>
				<br>
				The western wave was all a-flame. <br>
				The day was well nigh done! <br>
				Almost upon the western wave <br>
				Rested the broad bright Sun; <br>
				When that strange shape drove suddenly <br>
				Betwixt us and the Sun. <br>
				<br>
				And straight the Sun was flecked with bars, <br>
				(Heaven's Mother send us grace!) <br>
				As if through a dungeon-grate he peered <br>
				With broad and burning face. <br>
				<br>
				Alas! (thought I, and my heart beat loud) <br>
				How fast she nears and nears! <br>
				Are those her sails that glance in the Sun, <br>
				Like restless gossameres? <br>
				<br>
				Are those her ribs through which the Sun <br>
				Did peer, as through a grate? <br>
				And is that Woman all her crew? <br>
				Is that a DEATH? and are there two? <br>
				Is DEATH that woman's mate? <br>
				<br>
				Her lips were red, her looks were free, <br>
				Her locks were yellow as gold: <br>
				Her skin was as white as leprosy, <br>
				The Night-mare LIFE-IN-DEATH was she, <br>
				Who thicks man's blood with cold. <br>
				<br>
				The naked hulk alongside came, <br>
				And the twain were casting dice; <br>
				'The game is done! I've won! I've won!' <br>
				Quoth she, and whistles thrice. <br>
				<br>
				The Sun's rim dips; the stars rush out; <br>
				At one stride comes the dark; <br>
				With far-heard whisper, o'er the sea, <br>
				Off shot the spectre-bark. <br>
				<br>
				We listened and looked sideways up! <br>
				Fear at my heart, as at a cup, <br>
				My life-blood seemed to sip! <br>
				The stars were dim, and thick the night, <br>
				The steersman's face by his lamp gleamed white; <br>
				From the sails the dew did drip— <br>
				Till clomb above the eastern bar <br>
				The hornèd Moon, with one bright star <br>
				Within the nether tip. <br>
				<br>
				One after one, by the star-dogged Moon, <br>
				Too quick for groan or sigh, <br>
				Each turned his face with a ghastly pang, <br>
				And cursed me with his eye. <br>
				<br>
				Four times fifty living men, <br>
				(And I heard nor sigh nor groan) <br>
				With heavy thump, a lifeless lump, <br>
				They dropped down one by one. <br>
				<br>
				The souls did from their bodies fly,— <br>
				They fled to bliss or woe! <br>
				And every soul, it passed me by, <br>
				Like the whizz of my cross-bow! <br>
				<br>
				PART IV <br>
				'I fear thee, ancient Mariner! <br>
				I fear thy skinny hand! <br>
				And thou art long, and lank, and brown, <br>
				As is the ribbed sea-sand. <br>
				<br>
				I fear thee and thy glittering eye, <br>
				And thy skinny hand, so brown.'— <br>
				Fear not, fear not, thou Wedding-Guest! <br>
				This body dropt not down. <br>
				<br>
				Alone, alone, all, all alone, <br>
				Alone on a wide wide sea! <br>
				And never a saint took pity on <br>
				My soul in agony. <br>
				<br>
				The many men, so beautiful! <br>
				And they all dead did lie: <br>
				And a thousand thousand slimy things <br>
				Lived on; and so did I. <br>
				<br>
				I looked upon the rotting sea, <br>
				And drew my eyes away; <br>
				I looked upon the rotting deck, <br>
				And there the dead men lay. <br>
				<br>
				I looked to heaven, and tried to pray; <br>
				But or ever a prayer had gusht, <br>
				A wicked whisper came, and made <br>
				My heart as dry as dust. <br>
				<br>
				I closed my lids, and kept them close, <br>
				And the balls like pulses beat; <br>
				For the sky and the sea, and the sea and the sky <br>
				Lay dead like a load on my weary eye, <br>
				And the dead were at my feet. <br>
				<br>
				The cold sweat melted from their limbs, <br>
				Nor rot nor reek did they: <br>
				The look with which they looked on me <br>
				Had never passed away. <br>
				<br>
				An orphan's curse would drag to hell <br>
				A spirit from on high; <br>
				But oh! more horrible than that <br>
				Is the curse in a dead man's eye! <br>
				Seven days, seven nights, I saw that curse, <br>
				And yet I could not die. <br>
				<br>
				The moving Moon went up the sky, <br>
				And no where did abide: <br>
				Softly she was going up, <br>
				And a star or two beside— <br>
				<br>
				Her beams bemocked the sultry main, <br>
				Like April hoar-frost spread; <br>
				But where the ship's huge shadow lay, <br>
				The charmèd water burnt alway <br>
				A still and awful red. <br>
				<br>
				Beyond the shadow of the ship, <br>
				I watched the water-snakes: <br>
				They moved in tracks of shining white, <br>
				And when they reared, the elfish light <br>
				Fell off in hoary flakes. <br>
				<br>
				Within the shadow of the ship <br>
				I watched their rich attire: <br>
				Blue, glossy green, and velvet black, <br>
				They coiled and swam; and every track <br>
				Was a flash of golden fire. <br>
				<br>
				O happy living things! no tongue <br>
				Their beauty might declare: <br>
				A spring of love gushed from my heart, <br>
				And I blessed them unaware: <br>
				Sure my kind saint took pity on me, <br>
				And I blessed them unaware. <br>
				<br>
				The self-same moment I could pray; <br>
				And from my neck so free <br>
				The Albatross fell off, and sank <br>
				Like lead into the sea. <br>
				<br>
				<b>PART V</b> <br>
				Oh sleep! it is a gentle thing, <br>
				Beloved from pole to pole! <br>
				To Mary Queen the praise be given! <br>
				She sent the gentle sleep from Heaven, <br>
				That slid into my soul. <br>
				<br>
				The silly buckets on the deck, <br>
				That had so long remained, <br>
				I dreamt that they were filled with dew; <br>
				And when I awoke, it rained. <br>
				<br>
				My lips were wet, my throat was cold, <br>
				My garments all were dank; <br>
				Sure I had drunken in my dreams, <br>
				And still my body drank. <br>
				<br>
				I moved, and could not feel my limbs: <br>
				I was so light—almost <br>
				I thought that I had died in sleep, <br>
				And was a blessed ghost. <br>
				<br>
				And soon I heard a roaring wind: <br>
				It did not come anear; <br>
				But with its sound it shook the sails, <br>
				That were so thin and sere. <br>
				<br>
				The upper air burst into life! <br>
				And a hundred fire-flags sheen, <br>
				To and fro they were hurried about! <br>
				And to and fro, and in and out, <br>
				The wan stars danced between. <br>
				<br>
				And the coming wind did roar more loud, <br>
				And the sails did sigh like sedge, <br>
				And the rain poured down from one black cloud; <br>
				The Moon was at its edge. <br>
				<br>
				The thick black cloud was cleft, and still <br>
				The Moon was at its side: <br>
				Like waters shot from some high crag, <br>
				The lightning fell with never a jag, <br>
				A river steep and wide. <br>
				<br>
				The loud wind never reached the ship, <br>
				Yet now the ship moved on! <br>
				Beneath the lightning and the Moon <br>
				The dead men gave a groan. <br>
				<br>
				They groaned, they stirred, they all uprose, <br>
				Nor spake, nor moved their eyes; <br>
				It had been strange, even in a dream, <br>
				To have seen those dead men rise. <br>
				<br>
				The helmsman steered, the ship moved on; <br>
				Yet never a breeze up-blew; <br>
				The mariners all 'gan work the ropes, <br>
				Where they were wont to do; <br>
				They raised their limbs like lifeless tools— <br>
				We were a ghastly crew. <br>
				<br>
				The body of my brother's son <br>
				Stood by me, knee to knee: <br>
				The body and I pulled at one rope, <br>
				But he said nought to me. <br>
				<br>
				'I fear thee, ancient Mariner!' <br>
				Be calm, thou Wedding-Guest! <br>
				'Twas not those souls that fled in pain, <br>
				Which to their corses came again, <br>
				But a troop of spirits blest: <br>
				<br>
				For when it dawned—they dropped their arms, <br>
				And clustered round the mast; <br>
				Sweet sounds rose slowly through their mouths, <br>
				And from their bodies passed. <br>
				<br>
				Around, around, flew each sweet sound, <br>
				Then darted to the Sun; <br>
				Slowly the sounds came back again, <br>
				Now mixed, now one by one. <br>
				<br>
				Sometimes a-dropping from the sky <br>
				I heard the sky-lark sing; <br>
				Sometimes all little birds that are, <br>
				How they seemed to fill the sea and air <br>
				With their sweet jargoning! <br>
				<br>
				And now 'twas like all instruments, <br>
				Now like a lonely flute; <br>
				And now it is an angel's song, <br>
				That makes the heavens be mute. <br>
				<br>
				It ceased; yet still the sails made on <br>
				A pleasant noise till noon, <br>
				A noise like of a hidden brook <br>
				In the leafy month of June, <br>
				That to the sleeping woods all night <br>
				Singeth a quiet tune. <br>
				<br>
				Till noon we quietly sailed on, <br>
				Yet never a breeze did breathe: <br>
				Slowly and smoothly went the ship, <br>
				Moved onward from beneath. <br>
				<br>
				Under the keel nine fathom deep, <br>
				From the land of mist and snow, <br>
				The spirit slid: and it was he <br>
				That made the ship to go. <br>
				The sails at noon left off their tune, <br>
				And the ship stood still also. <br>
				<br>
				The Sun, right up above the mast, <br>
				Had fixed her to the ocean: <br>
				But in a minute she 'gan stir, <br>
				With a short uneasy motion— <br>
				Backwards and forwards half her length <br>
				With a short uneasy motion. <br>
				<br>
				Then like a pawing horse let go, <br>
				She made a sudden bound: <br>
				It flung the blood into my head, <br>
				And I fell down in a swound. <br>
				<br>
				How long in that same fit I lay, <br>
				I have not to declare; <br>
				But ere my living life returned, <br>
				I heard and in my soul discerned <br>
				Two voices in the air. <br>
				<br>
				'Is it he?' quoth one, 'Is this the man? <br>
				By him who died on cross, <br>
				With his cruel bow he laid full low <br>
				The harmless Albatross. <br>
				<br>
				The spirit who bideth by himself <br>
				In the land of mist and snow, <br>
				He loved the bird that loved the man <br>
				Who shot him with his bow.' <br>
				<br>
				The other was a softer voice, <br>
				As soft as honey-dew: <br>
				Quoth he, 'The man hath penance done, <br>
				And penance more will do.' <br>
				<br>
				<b>PART VI</b><br>
				<br>
				First Voice<br>
				'But tell me, tell me! speak again, <br>
				Thy soft response renewing— <br>
				What makes that ship drive on so fast? <br>
				What is the ocean doing?' <br>
				<br>
				Second Voice<br>
				Still as a slave before his lord, <br>
				The ocean hath no blast; <br>
				His great bright eye most silently <br>
				Up to the Moon is cast— <br>
				<br>
				If he may know which way to go; <br>
				For she guides him smooth or grim. <br>
				See, brother, see! how graciously <br>
				She looketh down on him.' <br>
				<br>
				First Voice<br>
				'But why drives on that ship so fast, <br>
				Without or wave or wind?' <br>
				<br>
				Second Voice<br>
				'The air is cut away before, <br>
				And closes from behind. <br>
				<br>
				Fly, brother, fly! more high, more high! <br>
				Or we shall be belated: <br>
				For slow and slow that ship will go, <br>
				When the Mariner's trance is abated.' <br>
				<br>
				I woke, and we were sailing on <br>
				As in a gentle weather: <br>
				'Twas night, calm night, the moon was high; <br>
				The dead men stood together. <br>
				<br>
				All stood together on the deck, <br>
				For a charnel-dungeon fitter: <br>
				All fixed on me their stony eyes, <br>
				That in the Moon did glitter. <br>
				<br>
				The pang, the curse, with which they died, <br>
				Had never passed away: <br>
				I could not draw my eyes from theirs, <br>
				Nor turn them up to pray. <br>
				<br>
				And now this spell was snapt: once more <br>
				I viewed the ocean green, <br>
				And looked far forth, yet little saw <br>
				Of what had else been seen— <br>
				<br>
				Like one, that on a lonesome road <br>
				Doth walk in fear and dread, <br>
				And having once turned round walks on, <br>
				And turns no more his head; <br>
				Because he knows, a frightful fiend <br>
				Doth close behind him tread. <br>
				<br>
				But soon there breathed a wind on me, <br>
				Nor sound nor motion made: <br>
				Its path was not upon the sea, <br>
				In ripple or in shade. <br>
				<br>
				It raised my hair, it fanned my cheek <br>
				Like a meadow-gale of spring— <br>
				It mingled strangely with my fears, <br>
				Yet it felt like a welcoming. <br>
				<br>
				Swiftly, swiftly flew the ship, <br>
				Yet she sailed softly too: <br>
				Sweetly, sweetly blew the breeze— <br>
				On me alone it blew. <br>
				<br>
				Oh! dream of joy! is this indeed <br>
				The light-house top I see? <br>
				Is this the hill? is this the kirk? <br>
				Is this mine own countree? <br>
				<br>
				We drifted o'er the harbour-bar, <br>
				And I with sobs did pray— <br>
				O let me be awake, my God! <br>
				Or let me sleep alway. <br>
				<br>
				The harbour-bay was clear as glass, <br>
				So smoothly it was strewn! <br>
				And on the bay the moonlight lay, <br>
				And the shadow of the Moon. <br>
				<br>
				The rock shone bright, the kirk no less, <br>
				That stands above the rock: <br>
				The moonlight steeped in silentness <br>
				The steady weathercock. <br>
				<br>
				And the bay was white with silent light, <br>
				Till rising from the same, <br>
				Full many shapes, that shadows were, <br>
				In crimson colours came. <br>
				<br>
				A little distance from the prow <br>
				Those crimson shadows were: <br>
				I turned my eyes upon the deck— <br>
				Oh, Christ! what saw I there! <br>
				<br>
				Each corse lay flat, lifeless and flat, <br>
				And, by the holy rood! <br>
				A man all light, a seraph-man, <br>
				On every corse there stood. <br>
				<br>
				This seraph-band, each waved his hand: <br>
				It was a heavenly sight! <br>
				They stood as signals to the land, <br>
				Each one a lovely light; <br>
				<br>
				This seraph-band, each waved his hand, <br>
				No voice did they impart— <br>
				No voice; but oh! the silence sank <br>
				Like music on my heart. <br>
				<br>
				But soon I heard the dash of oars, <br>
				I heard the Pilot's cheer; <br>
				My head was turned perforce away <br>
				And I saw a boat appear. <br>
				<br>
				The Pilot and the Pilot's boy, <br>
				I heard them coming fast: <br>
				Dear Lord in Heaven! it was a joy <br>
				The dead men could not blast. <br>
				<br>
				I saw a third—I heard his voice: <br>
				It is the Hermit good! <br>
				He singeth loud his godly hymns <br>
				That he makes in the wood. <br>
				He'll shrieve my soul, he'll wash away <br>
				The Albatross's blood. <br>
				<br>
				<b>PART VII</b> <br>
				This Hermit good lives in that wood <br>
				Which slopes down to the sea. <br>
				How loudly his sweet voice he rears! <br>
				He loves to talk with marineres <br>
				That come from a far countree. <br>
				<br>
				He kneels at morn, and noon, and eve— <br>
				He hath a cushion plump: <br>
				It is the moss that wholly hides <br>
				The rotted old oak-stump. <br>
				<br>
				The skiff-boat neared: I heard them talk, <br>
				'Why, this is strange, I trow! <br>
				Where are those lights so many and fair, <br>
				That signal made but now?' <br>
				<br>
				'Strange, by my faith!' the Hermit said— <br>
				'And they answered not our cheer! <br>
				The planks looked warped! and see those sails, <br>
				How thin they are and sere! <br>
				I never saw aught like to them, <br>
				Unless perchance it were <br>
				<br>
				Brown skeletons of leaves that lag <br>
				My forest-brook along; <br>
				When the ivy-tod is heavy with snow, <br>
				And the owlet whoops to the wolf below, <br>
				That eats the she-wolf's young.' <br>
				<br>
				'Dear Lord! it hath a fiendish look— <br>
				(The Pilot made reply) <br>
				I am a-feared'—'Push on, push on!' <br>
				Said the Hermit cheerily. <br>
				<br>
				The boat came closer to the ship, <br>
				But I nor spake nor stirred; <br>
				The boat came close beneath the ship, <br>
				And straight a sound was heard. <br>
				<br>
				Under the water it rumbled on, <br>
				Still louder and more dread: <br>
				It reached the ship, it split the bay; <br>
				The ship went down like lead. <br>
				<br>
				Stunned by that loud and dreadful sound, <br>
				Which sky and ocean smote, <br>
				Like one that hath been seven days drowned <br>
				My body lay afloat; <br>
				But swift as dreams, myself I found <br>
				Within the Pilot's boat. <br>
				<br>
				Upon the whirl, where sank the ship, <br>
				The boat spun round and round; <br>
				And all was still, save that the hill <br>
				Was telling of the sound. <br>
				<br>
				I moved my lips—the Pilot shrieked <br>
				And fell down in a fit; <br>
				The holy Hermit raised his eyes, <br>
				And prayed where he did sit. <br>
				<br>
				I took the oars: the Pilot's boy, <br>
				Who now doth crazy go, <br>
				Laughed loud and long, and all the while <br>
				His eyes went to and fro. <br>
				'Ha! ha!' quoth he, 'full plain I see, <br>
				The Devil knows how to row.' <br>
				<br>
				And now, all in my own countree, <br>
				I stood on the firm land! <br>
				The Hermit stepped forth from the boat, <br>
				And scarcely he could stand. <br>
				<br>
				'O shrieve me, shrieve me, holy man!' <br>
				The Hermit crossed his brow. <br>
				'Say quick,' quoth he, 'I bid thee say— <br>
				What manner of man art thou?' <br>
				<br>
				Forthwith this frame of mine was wrenched <br>
				With a woful agony, <br>
				Which forced me to begin my tale; <br>
				And then it left me free. <br>
				<br>
				<br>
				Since then, at an uncertain hour, <br>
				That agony returns: <br>
				And till my ghastly tale is told, <br>
				This heart within me burns. <br>
				<br>
				I pass, like night, from land to land; <br>
				I have strange power of speech; <br>
				That moment that his face I see, <br>
				I know the man that must hear me: <br>
				To him my tale I teach. <br>
				<br>
				What loud uproar bursts from that door! <br>
				The wedding-guests are there: <br>
				But in the garden-bower the bride <br>
				And bride-maids singing are: <br>
				And hark the little vesper bell, <br>
				Which biddeth me to prayer! <br>
				<br>
				O Wedding-Guest! this soul hath been <br>
				Alone on a wide wide sea: <br>
				So lonely 'twas, that God himself <br>
				Scarce seemèd there to be. <br>
				<br>
				O sweeter than the marriage-feast, <br>
				'Tis sweeter far to me, <br>
				To walk together to the kirk <br>
				With a goodly company!— <br>
				<br>
				To walk together to the kirk, <br>
				And all together pray, <br>
				While each to his great Father bends, <br>
				Old men, and babes, and loving friends <br>
				And youths and maidens gay! <br>
				<br>
				Farewell, farewell! but this I tell <br>
				To thee, thou Wedding-Guest! <br>
				He prayeth well, who loveth well <br>
				Both man and bird and beast. <br>
				<br>
				He prayeth best, who loveth best <br>
				All things both great and small; <br>
				For the dear God who loveth us, <br>
				He made and loveth all. <br>
				<br>
				The Mariner, whose eye is bright, <br>
				Whose beard with age is hoar, <br>
				Is gone: and now the Wedding-Guest <br>
				Turned from the bridegroom's door. <br>
				<br>
				He went like one that hath been stunned, <br>
				And is of sense forlorn: <br>
				A sadder and a wiser man, <br>
				He rose the morrow morn.<br>
				<br>Written by <b>Samuel Taylor Coleridge</b><br><br><br><br>
			</div>
		
		</div>
        
   
		<button id="expand-navigation">-</button>

		<section class="wrapper opened">
			<ul>
				<li><a href="#galleryload" onclick="gallery();">Pics</a></li>
				<li><a href="#">Spons</a></li>
				<li><a href="#">Event</a></li>
				<li><a href="#">Social</a></li>
				<li><a href="#">Team</a></li>
			</ul>
		</section>

		<div class="overlay on-overlay"></div>



		<div id="preloader">
			<div class="bg"></div>
			<div class="logo">
				<img src="img/logo.png">
			</div>
			<div class="circle"></div>
			<div class="tagline">
				Think.Dream.Live
			</div>
		</div>


		<div id="register" class="lightbox logreg">
			<div class="close"><a href="#" onclick="document.body.style.overflow='visible';">X</a></div>
			<h2>Register</h2>
			<div class="box">
				<input class="inp" name="username" type="text" value="Username" onblur="if(this.value == ''){this.value = 'Username';}" onfocus="if (this.value == 'Username') {this.value = '';}">
				<input class="inp" name="password" type="password" value="Password" onblur="if(this.value == ''){this.value = 'Password';}" onfocus="if (this.value == 'Password') {this.value = '';}">
				<input class="inp" name="name" type="text" value="Full Name" onblur="if(this.value == ''){this.value = 'Full Name';}" onfocus="if (this.value == 'Full Name') {this.value = '';}">
				<input class="inp" name="phone" type="text" value="Phone" onblur="if(this.value == ''){this.value = 'Phone';}" onfocus="if (this.value == 'Phone') {this.value = '';}">
				<input class="button" type="submit" value="Submit">
			</div>
		</div>

		<div id="login" class="lightbox logreg">
			<div class="close"><a href="#" onclick="document.body.style.overflow='visible';">X</a></div>
			<h2>Login</h2>
			<div class="box">
				<input class="inp" name="username" type="text" value="Username" onblur="if(this.value == ''){this.value = 'Username';}" onfocus="if (this.value == 'Username') {this.value = '';}">
				<input class="inp" name="password" type="password" value="Password" onblur="if(this.value == ''){this.value = 'Password';}" onfocus="if (this.value == 'Password') {this.value = '';}">
				<input class="button" type="submit" value="login">
			</div>
		</div>

        <div id="leaderboard" class="lightbox logreg">
            <div class="close"><a href="#" onclick="document.body.style.overflow='visible';">X</a></div>
            <h2>LEADERBOARD</h2>
            <center>
                <div style="width:50%; align-content:center;">
                    <div class="datagrid">
                        <div class="datagrid">

                            <table>
                                <thead><tr><th>header</th><th>header</th><th>header</th></tr></thead>
                                <tbody>
                                    <tr><td>data</td><td>data</td><td>data</td></tr>
                                    <tr><td>data</td><td>data</td><td>data</td></tr>
                                    <tr><td>data</td><td>data</td><td>data</td></tr>
                                    <tr><td>data</td><td>data</td><td>data</td></tr>
                                    <tr><td>data</td><td>data</td><td>data</td></tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </center>
        </div>

		<div id="galleryload" class="lightbox">
		</div>

       

		<script src="js/index.js"></script>	
	</body>
</html>
