<html>
<head>
	<meta property="og:image" content="images/preview.png" />
	<link rel="shortcut icon" href="favicon.ico">

	<title>Anwesha '16</title>

	<link rel="stylesheet" href="<?php echo auto_version('assets/css/all.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/team.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/style.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/eventsmain.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/intro.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/sidebar.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/jquery-ui.structure.min.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/jquery-ui.min.css'); ?>">
	<link rel="stylesheet" href="<?php echo auto_version('assets/css/jquery-ui.theme.min.css'); ?>">


	<script src='assets/js/jquery.min.js'></script>
	<script src="assets/js/jquery-ui.min.js"></script>
	<script src="assets/js/jquery.waypoints.min.js"></script>
	<style>
		/*Animation for show/hide*/
		.ng-hide {
			transition: all linear .5s;
			-moz-transition: all linear .5s;
			-webkit-transition: all linear .5s;
			-o-transition: all linear .5s;
			opacity: 0;
		}
		.ng-hide-animate {
			transition: all linear .5s;
			-moz-transition: all linear .5s;
			-webkit-transition: all linear .5s;
			-o-transition: all linear .5s;
		}

		/*Animation for enter/leave*/
		.ng-enter {
			transition: all linear .5s;
			-moz-transition: all linear .5s;
			-webkit-transition: all linear .5s;
			-o-transition: all linear .5s;
			opacity: 0;
		}
		.ng-enter.ng-enter-active {
			opacity: 1;
		}
		.ng-leave {
			transition: all linear .5s;
			-moz-transition: all linear .5s;
			-webkit-transition: all linear .5s;
			-o-transition: all linear .5s;
			opacity: 1;
		}
		.ng-leave.ng-leave-active {
			opacity: 0;
		}
	</style>

</head>

<body ng-controller="DefaultCtrl as dctrl" ng-cloak>
	<div class="wrap">
	<div id="intro">
		<div id="logo"><img src="images/logo-bg.png"></div>
		<span><div style="border:rgba(255,255,255,0.6) solid 0.1em;border-radius:0.4em;display:block;padding:0.5em;margin:0.5em;width:14em;font-size:0.5em;"><marquee>Event registrations are open. Login to register for the events.</marquee></div><div>THINK.DREAM.LIVE.</div></span>

		<div class="date gray show static">
			<div class="date-circle"></div>
			<div class="date-circle-fill"></div>
			<div class="date-img-circle">Jan
				<ul>
					<li class="d1">22</li>
					<li class="d2">23</li>
					<li class="d3">24</li>
				</ul>
			</div>
		</div>
		<div id="logreg">
			<!--a href="#login" onclick="document.body.style.overflow='hidden';"><div class="button">LOGIN</div></a>
			<a href="#register" onclick="document.body.style.overflow='hidden';"><div class="button">REGISTER</div></a-->
		</div>

		<div id="reg">
			<a href="campusambassador/"><div class="button">CAMPUS AMBASSADOR PROGRAMME</div></a>
			<a href="#"><div class="button" ng-click="dctrl.showRegForm()">Registrations</div></a>
			<a href="#"><div class="button" ng-click="dctrl.showLogForm()">Login</div></a>
		</div>
	</div>

	<!--<div id="about">
		<div class="container">
				<h2>About</h2>
				<p>Anwesha is a quest. The annual Techno-Cultural Festival of Indian Institute of Technology Patna hosts Technical, Cultural, Literary, Eco and Management events. Since its genesis in 2010, Anwesha has gained great importance at an exponential rate and enjoys a cult status among the youths of Bihar. Eminent personalities such as chief minister Nitish Kumar, Padma Vibhushan, G. Madhavan Nair, R.K. Sihna (Dolphin Man of India), have been part of Anwesha's extravaganza in the past.</p>
		</div>

		<div class="cont">
			<div class="right" style="background:#3b5998">
				<img src="images/fb.png"> <div class="text">13.5K <span>Likes</span></div>
			</div>
			<div class="right" style="background:#f64747">
				<img src="images/footfall.png"> <div class="text">10K <span>Footfall</span></div>
			</div>
			<div class="right" style="background:#616161">
				<img src="images/trophy.png"> <div class="text">30+ <span>Events</span></div>
			</div>
		</div>

	</div>-->
	<!--<div class="about-container">
		<div id="about-1" class="about">
			<article class="about-content">
			<img class="about-image" src="images/intro/intro1.JPG">
				<h3>
					Are you ready?
				</h3>
				<p>For the largest extravaganza that'll leave you with a thrilling experience!</p>
				<p> For the art that you have never seen before</p>
			</article>
		</div>
		<div id="about-2" class="about">
			<article class="about-content">
			<img class="about-image" src="images/intro/intro2.JPG">
				<h3>
					Technology?
				</h3>
				<p>Get ready to witness supercharged bots and machined clash in events and hold your breadth for this fight of machines</p>
			</article>
		</div>
		<div id="about-3" class="about">
			<article class="about-content">
			<img class="about-image" src="images/intro/intro3.JPG">
				<h3>
					Music and Dance?
				</h3>
				<p>Love music and dance? Then come hither, come hither! to Anwesha</p>
				<p>We provide one of the finest platforms to showcase your talents and display the true dancer and the musician within you.</p>
				<p>Bring your talent and show to everyone what you've got!</p>
			</article>
		</div>
		<div id="about-3" class="about">
			<article class="about-content">
			<img class="about-image" src="images/intro/intro4.JPG">
				<h3>
					Literature and debate?
				</h3>
				<p>Who said literature is only for few?</p>
				<p>Come to anwesha and discover the debater in you craving to bring out words and make an impact with wits and genius.</p>
			</article>
		</div>
		<div id="about-3" class="about">
			<article class="about-content">
			<img class="about-image" src="images/intro/intro5.JPG">
				<h3>
					Environment?
				</h3>
				<p>With all this progress, we can never leave environment behind, can we?</p>
				<p>So grab and opportunity to build amazing stuff jsut from sticks and waste and show to the world whats recycling is all about.</p>
			</article>
		</div>
	</div>-->

	<!--<div id="footer">
		<h2>ANWESHA &nbsp;</h2>
		<p class="left">Designed and Developed by the <a href="#" ng-click="dctrl.showWebTeam()">Web Design and Development Team</a>.</p>
	</div>-->
<div id="archives" ng-cloak ng-if="dctrl.isArchives" class="ini-hide" ng-click="dctrl.closeOverlay( 'isArchives' )">
	<div class="content">
		<h2>Accommodation Policy</h2>


<ul>
	<li>
	<p>Accommodation will be provided only to the students who have a valid Student ID Card and Anwesha&#39;16 ID.</p>
	</li>
	<li>
	<p>Students who need accommodation should give their basic details to their respective campus ambassadors.</p>
	</li>
	<li>
	<p>Campus ambassadors should send the list of students who require accommodation to Team Anwesha&#39;16 on or before 16th January.</p>
	</li>
	<li>
	<p>To avail discounts and get assured accommodation, students are recommended to make prior payment though our online portal, or through their respective campus ambassadors.</p>
	</li>
	<li>
	<p>Entry will be only through the &#39;Gate 1&#39; of IIT Patna, all other gates will be closed for entry.</p>
	</li>
	<li>
	<p>All student participants must carry their valid College photo ID card. Students without valid photo identity card will not be allowed inside the campus during Anwesha&#39;16.</p>
	</li>
	<li>
	<p>Those carrying laptops and other valuable items will have to declare their belongings at the main gate and Registration Desk of Anwesha&#39;16 through the form provided to them at the gate. Your belongings will be checked on your way out of IIT Patna and those who fail to produce their earlier mentioned declarations may have their belongings impounded.</p>
	</li>
	<li>
	<p>When you arrive at IIT Patna, you will have to come to registration desk. Your place of stay will be allotted then.</p>
	</li>
	<li>
	<p>Accommodation would be strictly on first come first serve basis.</p>
	</li>
	<li>
	<p>Priority will be given to students who have a longer duration of stay.</p>
	</li>
	<li>
	<p>We shall provide you with mattresses, pillows, and a blanket. However, you are encouraged to carry your own blanket as well.</p>
	</li>
	<li>
	<p>Accommodation will be given only after it has been confirmed by the Hospitality Group Members.</p>
	</li>
	<li>
	<p>Students can avail accommodation facilities from 21th January 8:00 am to 25th January, 2016, 10:00 am.</p>
	</li>
	<li>
	<p>All those that don&rsquo;t have confirmed accommodation inside the campus will not be allowed to use the accommodation facilities.</p>
	</li>
	<li>
	<p>Proper checks would be made to avoid any illegal stay. Any one failing to produce their receipts of accommodation would be heavily fined and may face legal actions.</p>
	</li>
	<li>
	<p>Carrying alcohol, drugs, sharp objects and explosives of any kind is strictly prohibited inside the campus. Any other item if deemed unsafe will be confiscated.</p>
	</li>
	<li>
	<p>Vehicles will not be allowed beyond parking lot near Gate 1.</p>
	</li>
	<li>
	<p>Anwesha&#39;16 and IIT Patna will not be responsible for any kind of mishaps and damage that may occur through the duration of stay for Anwesha&#39;16.</p>
	</li>
	<li>
	<p>Charges for accommodation are ____.</p>
	</li>
	<li>
	<p>In case of any discrepancies, decisions made by Hospitality committee will be final and bonding.</p>
	</li>
</ul>




	</div>
</div>


<div id="webdev" ng-cloak ng-if="dctrl.isWebTeam" ng-click="dctrl.isWebTeam=false" class="ini-hide">
	<div class="content">
		<h2>Web Design and Development Team</h2>
		<ul class="box">
			<li>
				<a href="https://www.facebook.com/sumit.asthana.562">
					<img src="images/webdev/sumit.jpg" />
					<span class="details"><span><b>Sumit Asthana</b><br>Creatives and Design<br>+91 8292316576</span></span>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/zenineasa">
					<img src="images/webdev/zenin.jpg" />
					<span class="details"><span><b>Zenin Easa</b><br>Creatives and Design<br>+91 9006703524</span></span>
				</a>
			</li>
		</ul>
	</div>
</div>


<div id="login" class="logreg" ng-controller="LoginCtrl as uctrl" ng-show="dctrl.isLogForm" ng-cloak>
	<h2>Login - Anwesha 2k16</h2>
	<h3 class="err" ng-bind="uctrl.err"></h3>
	<a href="#" class="back" ng-click="dctrl.isLogForm=false"><img src="images/back.png"></a>
	<form class="box" id="reg_form" ng-show="uctrl.success == 0">
	<img class="loader" src="images/spinner-large.gif" ng-show="uctrl.inProgress==1">
		<input class="inp" name="name" type="text" value="Full Name" ng-model="uctrl.user.name" ng-focus="uctrl.hideDefault('name','Name')" ng-blur="uctrl.showDefault( 'name' )">
		<input class="inp" name="password" type="password" value="Password" ng-model="uctrl.user.password" ng-focus="uctrl.hideDefault('password','Password')" ng-blur="uctrl.showDefault( 'password' )">
		<input class="button" type="button" value="Resend email confirmation" ng-click="uctrl.sendEmail()">
		<input class="button" type="submit" value="Submit" ng-click="uctrl.submit()">
	</form>
	<h2 class="success" ng-bind="uctrl.success_msg" ng-show = "uctrl.success==1"></h2>
</div>
<div id="register" class="logreg" class="ini-hide" ng-controller="UserCtrl as uctrl" ng-show="dctrl.isRegForm" ng-cloak>
	<h2>Register - Anwesha 2k16</h2>
	<h3 class="err" ng-bind="uctrl.err"></h3>
	<a href="#" class="back" ng-click="dctrl.isRegForm=false"><img src="images/back.png"></a>
	<form class="box" id="reg_form" ng-show="uctrl.success == 0">
	<img class="loader" src="images/spinner-large.gif" ng-show="uctrl.inProgress==1">
		<input class="inp" name="name" type="text" value="Full Name" ng-model="uctrl.user.name" ng-focus="uctrl.hideDefault('name','Name')" ng-blur="uctrl.showDefault( 'name' )">
		<input class="inp" name="mobile" type="text" value="Mobile" ng-model="uctrl.user.mobile" ng-focus="uctrl.hideDefault('mobile','Mobile')" ng-blur="uctrl.showDefault( 'mobile' )">
		<select class="inp" name="sex" ng-model="uctrl.user.sex">
			<option value="M" style="color:black;" selected>Male</option>
			<option value="F" style="color:black;">Female</option>
		</select>
		<input class="inp" name="college" type="text" value="College" ng-model="uctrl.user.college" ng-focus="uctrl.hideDefault('college','College')" ng-blur="uctrl.showDefault( 'college' )">
		<input class="inp" name="email" type="email" value="Email" ng-model="uctrl.user.email" ng-focus="uctrl.hideDefault('email','Email')" ng-blur="uctrl.showDefault( 'email' )">
		<input class="inp" name="dob" type="text" value="dob" ng-model="uctrl.user.dob" ng-focus="uctrl.hideDefault('dob','YYYY-MM-DD')" ng-blur="uctrl.showDefault( 'dob' )">
		<input class="inp" name="city" type="text" value="City" ng-model="uctrl.user.city" ng-focus="uctrl.hideDefault('city','City')" ng-blur="uctrl.showDefault( 'city' )">
		<input class="button" type="submit" value="Submit" ng-click="uctrl.submit()">
	</form>
	<h2 class="success" ng-show = "uctrl.success==1">
		You have successfully registered. Your anwesha ID is: {{uctrl.user.anwId}}. Now close this window
	</h2>
</div>

<div id="teamload" ng-cloak ng-if="dctrl.isTeam" ng-include="'view/team.html'" class="ini-hide">
</div>
<div id="sponsorsload" ng-cloak ng-if="dctrl.isSponsors" ng-include="'view/sponsors.html'" class="ini-hide">
</div>
<div id="galleryload" class="lightbox">
</div>

<div id="comingsoon">
	<div class="content">
		<h2>Coming Soon...</h2>
	</div>
</div>

<!--<div id="navico">
	<img src="images/links.png" style="width:2.25em;">
	<div id="nav">
		<ul>
			<div id="inpage">
				<a href="#intro"><li><img class="ico" src="images/icons/home.png"> Home</li></a>
				<a class="sliding" href="#" ng-click="dctrl.showEvents()"><li><img class="ico" src="images/icons/events.png"> Events</li></a>
			</div>
				<a href="#" onclick="showSoon();"><li><img class="ico" src="images/icons/schedule.png"> Schedule</li></a>
				<a href="#" onclick="showSoon();"><li><img class="ico" src="images/icons/pronites.png">Pronites</li></a>
				<a href="#" ng-click="dctrl.showTeam()"><li><img class="ico" src="images/icons/team.png">Our Team</li></a>
				<a href="gallery.html" target="_blank"><li><img class="ico" src="images/icons/gallery.png">Gallery</li></a>
				<a href="#sponsorsload" ng-click="dctrl.showSponsors()"><li><img class="ico" src="images/icons/sponsors.png">Sponsors</li></a>
				<a href="#" ng-click="dctrl.showArchives()"><li><img class="ico" src="images/icons/archives.png">Accommodation</li></a>
		</ul>
	</div>
</div>-->
<input type="checkbox" class="sidebar_home-checkbox" id="sidebar_home-checkbox">
<div class="sidebar_home" id="sidebar_home">
  <div class="sidebar_home-item">
    <p>Where to?</p>
  </div>

  <nav class="sidebar_home-nav">
          <a class="sidebar_home-nav-item" href="#intro">Home</a>
          <a class="sidebar_home-nav-item" href="#" ng-click="dctrl.showEvents()">Events</a>
          <a class="sidebar_home-nav-item" href="#" onclick="showSoon();">Schedule</a>
          <a class="sidebar_home-nav-item" href="#" onclick="showSoon();">Pronites</a>
          <a class="sidebar_home-nav-item" href="#" ng-click="dctrl.showTeam()">Our Team</a>
          <a class="sidebar_home-nav-item" href="gallery.html" target="_blank">Gallery</a>
          <a class="sidebar_home-nav-item" href="#" ng-click="dctrl.showSponsors()">Sponsors</a>
          <a class="sidebar_home-nav-item" href="#" ng-click="dctrl.showArchives()">Accomodation</a>
  </nav>
</div>
<label for="sidebar_home-checkbox" class="sidebar_home-toggle"></label>

<div id="fbico">
	<img src="images/fb.png" style="width:2em;">
	<div id="facebook">
		<iframe src="view/facebook-feed.html" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:100%; text-align:center;" allowTransparency="true"></iframe>
	</div>
</div>
<div class="cover"></div>
<div class="eventsHome" ng-show="dctrl.isEvents" ng-if="dctrl.isEvents" ng-include="'view/event.html?v=123'" ng-cloak>
</div>
<!--<img class="scroll-down" src="images/button-point-down-large.png">-->
<script>
		$(document).ready(function(){

			$(window).load(function(){
				$('#logo').animate({},0).delay(100).animate({'opacity':0.9},2500,function(){
					$('.cover').fadeOut(1000);
				});

			});
			$( '.ini-hide' ).removeClass( 'ini-hide' );
			function isScrolledPast(elem)
			{
				var $elem = $(elem);
				var $window = $(window);

				var docViewTop = $window.scrollTop();

				var elemTop = $elem.offset().top;
				//console.log(elemTop);
				//console.log(docViewTop);
				return ((elemTop < docViewTop+2));
			}
			function scrollToElem() {
				var i = 0;
				var done = false;
				$( '.about' ).each( function( index ) {
					if ( !isScrolledPast( $( this ) ) && !done ) {
						i = index;
						//console.log(i);
						done = true;
					}
				} );
				var scrollTo = $( $( '.about' )[i] );
				//console.log(i);
				$( 'html,body' ).animate( {
					scrollTop: scrollTo.offset().top
				} );
			}
			$( '.scroll-down' ).click( function() {
				scrollToElem();
				//console.log(isScrolledPast($($('.about-content')[0])));
			} );
		});

		$( '#reg_form input[name="dob"]' ).datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: "yy-mm-dd",
			yearRange: "c-30:c"
		});
		//console.log($( '.about-content' ).get(0));
		$( '.about-content' ).waypoint(function(){
			$( this.element ).find('img').animate( {'left':0},600 );
		},{offset:'65%'});
</script>
<script src="assets/js/angular.min.js"></script>
<script src="assets/js/angular-resource.min.js"></script>
<script src="assets/js/angular-animate.min.js"></script>
<script src="assets/js/angular-sanitize.min.js"></script>
<?php
function auto_version($file)
{
	$mtime = filemtime($file);
	return $file."?=" . $mtime;
}
?>
<script src="<?php echo auto_version('app.js'); ?>"></script>
</div>
</body>
</html>
