<!DOCTYPE html>
<html class="skrollr skrollr-desktop">
<!-- @todo   -->
<!-- https://codepen.io/Pc/pen/QywZga -->
<!-- https://stackoverflow.com/questions/18726480/embed-html5-youtube-video-without-iframes -->
<!-- https://stackoverflow.com/questions/27084876/stop-iframe-from-preventing-scrolling-of-parent-document -->
<!-- https://github.com/alvarotrigo/fullPage.js/#fullpagejs -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Anwesha '19</title>
    <script async="" src="/assets/js/analytics.js"></script>
    <script src="/assets/js/30QDaBBlFQHfWtc-RqA7VK5b2RM.js"></script>
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anwesha '19'">
    <meta property="og:image" content="/favicon.ico">
    <link href="/assets/css/css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/home2019.css">
    <link href="https://fonts.googleapis.com/css?family=Charmonman|Mali|Pacifico" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>

<body class="body" data-gr-c-s-loaded="true" style="height: 3973px;">
    <a href="javascript:void callPlayer(&quot;afterMovieVideo&quot;)"><div id="cover"></div></a>
    <div id="logo" data-100="opacity:1;" data-500="opacity:0; " class="skrollable skrollable-before" style="opacity: 1;">
        <a href="http://anwesha.info/" class="logolink" target="_blank"></a>
    </div>
    <div id="logo-white" data-300="opacity:0;" data-500="opacity:1;" class="skrollable skrollable-before" style="opacity: 0;">
        <a href="http://anwesha.info/" class="logolink" target="_blank"></a>
    </div>
    <!-- Navigation Menu -->
    <div id="menu">
        <ul data-start="color:rgb(100,100,100); border-color:rgb(100,100,100); background: rgba(0,0,0,0.0);     box-shadow: 0 0 0px rgba(0,0,0,0);"
            data-500="color:rgb(255,255,255); border-color:rgb(255,255,255); background: rgba(0,0,0,0.7);     box-shadow: 0 0 10px rgba(0,0,0,1);"
            class="skrollable skrollable-between" style="color: rgb(100, 100, 100); border-color: rgb(100, 100, 100); background: rgba(0, 0, 0, 0); box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;">
            <!-- <li id="home-link"><a href="#start-section">HOME</a></li> -->
            <li><a href="#After-Movie" id="">After-Movie</a></li>
            <li><a href="#About" id="">About</a></li>
            <li><a href="#" id="">Sponsors</a></li>
            <li><a href="#Contact-Us" id="">Contact Us</a></li>
            <li><a href="/ca" id="">Campus Ambassador</a></li>
        </ul>
    </div>
    <div id="mobile-nav-btn" class="mobile-nav-btn dark skrollable skrollable-before" data-100="opacity:1;" data-500="opacity:0; "
        style="opacity: 1;"></div>
    <div class="mobile-nav-btn white skrollable skrollable-before" data-100="opacity:0;" data-500="opacity:1; " style="opacity: 0;"></div>
    <div id="mobile-nav">
        <img src="/assets/img/close.png" class="close" alt="close menu" width="32" height="32">
        <ul>
            <li><a href="#After-Movie" id="">After-Movie</a></li>
            <li><a href="#About" id="">About</a></li>
            <li><a href="#" id="">Sponsors</a></li>
            <li><a href="#Contact-Us" id="">Contact Us</a></li>
            <li><a href="/ca" id="">Campus Ambassador</a></li>
        </ul>
    </div>
    <!-- /Navigation Menu -->

    <!-- Social Floating Links -->
    <div id="social">
        <span class="hashtag">#anwesha19</span>
        <a href="https://www.facebook.com/anwesha.iitpatna/" target="_blank"><img src="/assets/img/fb-black.png"><img
                src="/assets/img/fb-w.png" class="social-white" data-100=""
                data-500="opacity:1; " style=""></a>
        <a href="https://www.instagram.com/anwesha.iitp/" target="_blank"><img src="/assets/img/ig.png"><img src="/assets/img/ig-w.png"
                class="social-white" data-100="" data-500=" " style=""></a>
    </div>
    <!-- /Social Floating Links -->

    <section id="start-section" class="fp example-classname">
        <div class="bcg skrollable skrollable-between" data-start="opacity: 1; width: 100%; height: 100%; top: 0%; left: 0%;"
            data-100p="opacity: 0; width: 256%; height: 356%; top: -256%; left: -78%;" data-anchor-target="#start-section"
            style="opacity: 1; width: 100%; height: 100%; top: 0%; left: 0%;">
            <div id="landingContent" style="position:absolute;left:50%;top:50%;transform:translate(-50%,-50%)">
                <img id="anwLogo" src="/assets/img/logo_favi.png" alt="">
                <!-- <h1 class="anwName">Anwesha '19</h1> -->
            </div>
        </div>
    </section>
    <div id="skrollr-body">
        <section id="After-Movie" class="fp example-classname" >
            <div class="plaxEl skrollable skrollable-between" data-start="opacity: 0;" data-80p="opacity: 0;" data-100p="opacity: 1;top:0;"
                data-anchor-target="#start-section" style="opacity: 0; top: 0px;" id="amParent">
                <div id="afterMovieVideo" class="embed-container">
                        <iframe width="640" height="390" frameborder="0" title="YouTube video player" type="text/html" scrolling="no" src="https://www.youtube.com/embed/tare6Drw0Ng?feature=oembed&controls=0&hd=1&modestbranding=1&autohide=1&showinfo=0&enablejsapi=1"></iframe>
                </div>
            </div>
        </section>
                                
                        <!-- </a>  -->

        <div id="About"></div>
        <section id="synopsis-section" class="aboutSection sec2 example-classname">
            <div class="synopsis">
                <div class="syn-title">
                    <img src="/assets/images/name.png" id="anwName" alt="Anwesha '19" style="max-width:60%;height:40px;">
                    <h2 class="themeName">The Impeccable Showman's Odyssey</h2>
                </div>
                <h3>About Anwesha</h3>
                <p>Anwesha is a Techno-Cultural extravaganza held every year in spring. Since its inception in 2010, it
                    has grown into one of the most anticipated student-organized youth festival. From NASA Scientists
                    to Dancing Idols, from Ethical Hackers to Heartthrob Singers, from Game Development to Gaming Wars,
                    from Robotics to Dramatics, from Model United Nations to Foreign Exchange Conferences, from Sufi to
                    Death Metal, Anwesha, with the tag "Think Dream Live", promises every youth to full-fill his/her
                    dreams to the maximum. It involves student volunteers who work by interest and promote
                    intellectualism and creativity through their organization and maintain the brand value of IIT.
                    Anwesha meaning "Quest" in Sanskrit has been a quest for every participant to reach his full
                    potential. Its latest edition received participation around 5000 and footfall of around 20000
                    involving many computer geeks, gaming freaks, technoholics, music & dance maniacs and rock bands
                    hailing from well-known institutes across the country.</p>

            </div>
        </section>
        <section id="tickets-section" class="sec2 example-classname">
            <div id="Contact-Us"></div>
            <div class="syn-title">
                    <h1>Contact Us</h1>
                    <br><br>
                </div>
            <a target="_blank" href="https://www.facebook.com/anwesha.iitpatna/" class="tickets-btn">Facebook</a><br>
            <a target="_blank" href="mailto:pr@anwesha.info" class="tickets-btn">e-mail:pr@anwesha.info</a><br>
            <a target="_blank" href="tel:+918181068781" class="tickets-btn">Phone:+91-81810-68781</a>
            <br><br><br>
            <!-- <div class="mapouter"><div class="gmap_canvas"><iframe id="map" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=iit%20patna&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>#map{width:100%;}.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div> -->
        </section>

    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skrollr.min.js"></script>
    <script src="/assets/js/skrollr.menu.min.js"></script>
    <script src="https://projects.lukehaas.me/scrollify/script/jquery.scrollify.js"></script>
    <script src="/assets/js/app.js"></script>

</body>

</html>