<!DOCTYPE html>

<html>
<head>
<title>Multi City Auditions | Anwesha '17</title>
<meta charset="utf-8">
<link rel="shortcut icon" href="../favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="../assets/css/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" media="only screen and (max-width: 994px)" href="../assets/css/mob.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
@import 'https://fonts.googleapis.com/css?family=Lobster|Lobster+Two';
.insta{

}
.call{
  cursor: pointer;
  color:#ff5c7c;
}
#under{
  background: #000000;
  opacity: 0.7;
  position: fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
}
#over{
  padding: 20px;
  border-radius: 10px;

  background: rgba(0,0,0,0.9);
  position: fixed;
  display:none;
  width:90%;
  
  top:5%;
  left:5%;
}
.close{
  position: fixed;
  top:0;
  right:0;
  display: none;
  width:5%;
  z-index: 3;
  background-image: url('../images/auditions/close.png');
  background-size: cover;
}
.elec{
  width:25%;
   text-align: center;
}
</style>
<script>
$(document).ready(function(){
    function returndata(dat){
      if(dat=='data1'){
        return '<center><h1>Heel turn</h1></center><ul><li>Six winners selected from the Multi-City Auditions will be facing a Face-Off Round. The top 3 will go on stage in the final round.</li><li>Apart from exciting prizes and certificates, Winners in the Auditions will be earning crucial points for their colleges for Anwesha Trophy.</li><li>A contestant may either be a single participant or a group of maximum 10 persons.</li><li>The contestants are free to choose a music track of their choice.</li><li>No use of songs involving illicit actions or words.</li><li>Any kind of fluid or flame is not allowed on stage. Lighting of candles, matches or cigarettes on Stage is not allowed and will result in disqualification.</li><li>Music tracks must be brought by the participants themselves in mp3 format preferably in CD/DVD/flash drive.</li><li>The time slot shall start as soon as the track begins.</li><li>Rules may change without any prior notice.</li></ul>';
      }
      else if(dat=='data2'){
        return '<center><h1>Syngphony</h1></center><ul><li>Six winners selected from the Multi-City Auditions will be facing a Face-Off Round. The top 3 will go on stage in the final round.</li><li>Apart from exciting prizes and certificates, Winners in the Auditions will be earning crucial points for their colleges for Anwesha Trophy.</li><li>The contestants are free to choose a music track/karaoke of their choice. However they must choose only one such song.</li><li>No use of songs involving illicit words.</li><li>Music tracks or karaoke must be brought by the participants themselves in mp3 format preferably in CD/DVD/flash drive.</li><li>The time slot shall start as soon as the track begins.</li><li>No aid should be taken on stage for lyrics.</li><li>Rules may change without any prior notice.</li></ul>';
      }
      else if(dat=='data3'){
        return '<center><h1>Maidan-e-Jung</h1></center><ul><li>Winners selected from the Multi-City Auditions will directly go in the final round.</li><li>One team can have a maximum of 10-20 members.</li><li>Language used can be Hindi or English.</li><li>Script should be original/self-written and should not be copied.</li><li>Vulgarity is strictly prohibited.</li><li>Any Electronic device or recorded music is not allowed.</li><li>Time Limit is 20 minutes; points will be deducted on exceeding it.</li><li>Only household objects can be used as props (dholak, stick, drums, gulaal are allowed). Other household props can be used with the permission of organisers</li></ul>';
      }
      else if(dat=='data4'){
        return '<center><h1>Mr & Miss Anwesha</h1></center><ul><li>It is an individual event.</li><li>Winners selected from the Multi-City Auditions will directly go in the final round.</li><li>Apart from exciting prizes and certificates, Winners in the Auditions will be earning crucial points for their colleges for Anwesha Trophy.</li><li>Any person coming for the auditions is eligible to take part in this contest.</li><li>There will be two rounds in all - Ramp Walk and Questionnaire.</li><li>In a given round, total score will be given to performance in that round alone.</li><li>In any round, equal importance will be given to show as well as substance.</li><li>Any kind of vulgarity leads to disqualification.</li><li>Rules may change without any prior notice.</li></ul>';
      }
      else if(dat=='data5'){
        return '<center><h1>Mind Benders</h1>"You have the power over your mind - realize this, and you will find strength<br> So, get ready to knock your brains and prove the genius in you in this mind bending rendezvous"<br><br><h1>RULES:</center></h1><ul><li>This is a team event. You can participate as a team of two members.</li><li>The event will be in form of pen-paper quiz, it will consist of single choice correct, multiple choice correct and paragraph questions.</li><li>The event will be of 1 hr.</li><li>Participants are required to bring their own pen and paper for rough work.</li><li>Students of different institutions can form a team.</li><li>The judgement of the organizers will be final.</li>Questions:- 40-50<br>Time:- 1 hour<br>For any queries, mail us at <a href="mailto:tech.anwesha17@gmail.com">tech.anwesha17@gmail.com</a>';
      }
      else if(dat=='data6'){
        
        return'';
        closepop();
      }
      else if(dat=='data7'){
        return '<center><h1>Electro-Exquisite</h1></center>If you can’t resist yourself from taking a reading whenever you see some electronics stuff,<br>If everyone around you feels shorted by your capacitance to speak about electronic gadgets,<br>If you think your intelligence get forward biased every time an electronic question is induced to you, then it is the event for you.<br><h1>Rules</h1><ul><li>It is better to have a team of two, if you found no one you can participate alone too.</li><li>Policies regarding the point distribution and other aspects would be ruled by the organizer in cases of any conflict.</li><li>Use of mobilephones is not allowed.</li><li>In case of any confusion the decision of organizers is final.</li></ul><br>MCQ Questions : 30 questions<br> Time Limit : 30 minutes<br> Total 30 points.<br><br><br>Prepare yourself for the event and get ready for the unlimited fun and amazing experience.';
      }
      else{
        return '<center><h1>Weird!</h1></center>'; 
      }
    }

    function callpop(data){
      $("#over").html(data);
      $("#under").fadeIn();
      $("#over").fadeIn();
      $(".close").fadeIn();
    }
    function closepop(){
      $("#under").fadeOut();
      $("#over").fadeOut();
      $(".close").fadeOut();
      $("#over").html('');
    }
    $(".close").height($(".close").width());
    $("#under,.close").click(function(){
      closepop();
    });
    $(".call").click(function(){
      callpop(returndata($(this).attr('placeholder')));
    });
});
</script>
</head>
<body id="top">
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('../images/auditions/backgrounds/01.jpg');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <div id="logo" class="fl_left">
        <h1><a href="http://2017.anwesha.info">Anwesha '17</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="http://2017.anwesha.info/">Home</a></li>
          <li class=""><a href="../register">Register!</a></li>
          <li class=""><a href="../ca">Campus ambassador</a></li>
          <!-- <li><a class="drop" href="#">Pages</a> 
            <ul>
              <li><a href="pages/gallery.html">Gallery</a></li>
              <li><a href="pages/full-width.html">Full Width</a></li>
              <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
              <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
              <li><a href="pages/basic-grid.html">Basic Grid</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>-->
        </ul>
      </nav>
    </header>
  </div>
  <div id="pageintro" class="hoc clear"> \
    <div class="flexslider basicslider">
      <ul class="slides"><center>
        <li>
          <article>
            <p class="heading" style="font-family: 'Lobster', cursive;font-size:4em">Anwesha '17</p>
            <h2 class="heading" style="">Multi city auditions</h2>
            <p><span style="font-size:2em">The Quest begins here</span><br><br>1<sup>st</sup> October to 24<sup>th</sup> October</p>
            <footer>
              <ul class="nospace inline pushright">
                <!-- <li><a class="btn" href="#">Parturient</a></li> -->
                <!-- <li><a class="btn inverse" href="#">Nascetur</a></li> -->
              </ul>
            </footer>
          </article>
        </li>
        </center>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row4">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h2 class="heading nospace" style="font-size: 4em">Venues </h2>
      <!-- <p>&hellip;</p> -->
    </div>
    <ul class="nospace group services">
      <li class="one_third first">
         <article>
          <h6 class="heading" style="font-size:2em">Dhanbad</h6>
          <p>1<sup>st</sup> October<br>ISM Dhanbad<br>Technical & Cultural</p>
          <!-- <footer><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading" style="font-size:2em">Ranchi</h6>
          <p>5<sup>th</sup> October<br>Yet to be decided&hellip;<br>Technical & Cultural</p>
          <!-- <footer><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </li>
      <li class="one_third">
        <article>
          <h6 class="heading" style="font-size:2em">Lucknow</h6>
          <p>24<sup>th</sup> October<br>Yet to be decided&hellip;<br>Cultural</p>

          <!-- <footer><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </li>
      <li class="one_third first">
       
        <article>

          <h6 class="heading" style="font-size:2em">Varanasi</h6>
          <p>1<sup>st</sup> October<br>IIT BHU<br>Cultural</p>
          <!-- <footer><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </li>
      <li class="one_third">
        <article>

          <h6 class="heading" style="font-size:2em">Kanpur</h6>
           <p>5<sup>th</sup> October<br>PSIT Kanpur<br>Cultural</p>
          <!-- <footer><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </li>
      <li class="one_third">
        <article>
          
          <h6 class="heading" style="font-size:2em">Kolkata</h6>
           <p>24<sup>th</sup> October<br>Yet to be decided&hellip;<br>Cultural</p>
            <!-- <footer><a href="#">Read More &raquo;</a></footer> -->
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h2 class="heading nospace" style="font-size: 5em">Events</h2>
      <p class="nospace">Delve yourself into the multitude of events to be organised</p>
    </div>
    <ul class="nospace group">
      <li class="one_half first btmspace-30">
        <article class="group">
          <div class="one_half first"><a href="#"><img src="../images/auditions/web1.jpg" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1" style="font-size: 2em">Heelturn</h3>
            <p>Does the rhythmic cascade set your foot tapping? Then lose yourself in the world of heelturn-the dance competition.Your turns are sprouting, are you ready?</p>
            <footer><span class="call" href="#" placeholder="data1">Read More &raquo;</span></footer>
          </div>
        </article>
      </li>
      <li class="one_half btmspace-30">
        <article class="group">
          <div class="one_half first"><a href="#"><img src="../images/auditions/web2.jpg" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1" style="font-size: 2em">Syngphony</h3>
            <p>Is the music your passion and lyrics your brainfood? Syngphony quests for the next ultimate voice and it could be you.</p>
            <footer><span class="call" href="#" placeholder="data2">Read More &raquo;</span></footer>
          </div>
        </article>
      </li>
      <li class="one_half first btmspace-30">
        <article class="group">
          
          <div class="one_half first"><a href="#"><img src="../images/auditions/web3.jpg" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1" style="font-size: 2em">Maidaan -e- Jung</h3>
            <p>The stage is set and the curtain is drawn.Now it's your chance to rule the crowd with your acting prowness</p>
            <footer><span class="call" href="#" placeholder="data3">Read More &raquo;</span></footer>
          </div>
        </article>
      </li>
      <li class="one_half btmspace-30">
        <article class="group">
          <div class="one_half first"><a href="#"><img src="../images/auditions/web4.jpg" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1" style="font-size: 2em">Mr & Ms Anwesha</h3>
            <p>The ultimate quest of passion, dreams and confidence- the essence of life.If this zest of life flows within you, Mr and Ms anwesha is for you.</p>
            <footer><span class="call" href="#" placeholder="data4">Read More &raquo;</span></footer>
          </div>
        </article>
      </li>
      <li class="one_half first btmspace-30">
        <article class="group">
          <div class="one_half first"><a href="#"><img src="../images/auditions/web5.jpg" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1" style="font-size: 2em">Mind Benders</h3>
            <p>Is solving riddles a regular part of your leasuire time? Then it is going to be a cakewalk for you. The brain twisting puzzles are waitning to meet you. Are you ready for this mind bending rendezvous?</p>
            <footer><span class="call" href="#" placeholder="data5">Read More &raquo;</span></footer> 
          </div>
        </article>
      </li>
      <li class="one_half btmspace-30">
        <article class="group">
          <div class="one_half first"><a href="#"><img src="../images/auditions/web6.jpg" alt=""></a></div>
          <div class="one_half">
            <h3 class="heading font-x1" style="font-size: 2em">Line follower</h3>
            <p>Do you find yourself in the technical world of robotics? Anwesha is here to patron your endavour through line follower.</p>
            <footer><a href="linefollow/" target="_blank" >Read More &raquo;</a></footer> 
          </div>
        </article>
      </li>
      
      <li class="btmspace-30">
        <article class="group">
          <!-- <div class="one_half first"><a href="#"><img src="../images/auditions/man.png" alt=""></a></div> -->
          <div class="">
            <h3 class="heading font-x1" style="font-size: 2em">Electro Exquizite</h3>
            <p class="elec">Have you got a pep for the electric world? Then bring out the current within you to the ultimate electric quiz-Electro Exquizite</p>
            <footer><span class="call" href="#" placeholder="data7">Read More &raquo;</span></footer> 
          </div>
        </article>
      </li>
      
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- <div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');"> 
  <section class="hoc container clear"> 
    
    <div class="btmspace-80 center">
      <h2 class="heading nospace">Semper turpis eget</h2>
      <p class="nospace">Maximus arcu dictum a nunc molestie odio sit amet ipsum</p>
    </div>
    <ul class="nospace group">
      <li class="one_quarter first">
        <article class="excerpt"><a href="#"><img src="images/demo/320x320.png" alt=""></a>
          <div class="excerpttxt">
            <h6 class="heading font-x1">Egestas consectetur</h6>
            <p>Rhoncus lectus sed sagittis dictum phasellus tristique&hellip;</p>
            <footer><a class="btn" href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_quarter">
        <article class="excerpt"><a href="#"><img src="images/demo/320x320.png" alt=""></a>
          <div class="excerpttxt">
            <h6 class="heading font-x1">Aenean efficitur</h6>
            <p>Eu fringilla maximus purus orci faucibus metus faucibus&hellip;</p>
            <footer><a class="btn" href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_quarter">
        <article class="excerpt"><a href="#"><img src="images/demo/320x320.png" alt=""></a>
          <div class="excerpttxt">
            <h6 class="heading font-x1">Blandit massa</h6>
            <p>Lectus eu varius curabitur vestibulum vehicula massa&hellip;</p>
            <footer><a class="btn" href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
      <li class="one_quarter">
        <article class="excerpt"><a href="#"><img src="images/demo/320x320.png" alt=""></a>
          <div class="excerpttxt">
            <h6 class="heading font-x1">Sagittis curabitur</h6>
            <p>Et eros eget ligula efficitur pulvinar et tortor morbi&hellip;</p>
            <footer><a class="btn" href="#">Read More &raquo;</a></footer>
          </div>
        </article>
      </li>
    </ul>
    
  </section>
  -->
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_half first">
      <h6 class="heading">Social</h6>
      <ul class="">
        <li><a  target="_blank"  class="" href="https://www.facebook.com/anwesha.iitpatna/"><i class="">Facebook</i></a></li>
        <!-- <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li> -->
        <li><a  target="_blank"  class="" href="https://www.instagram.com/anwesha.iitp/"><i class="">Instagram</i></a></li>
        <li><a  target="_blank"  class="" href="https://www.linkedin.com/company/7947024"><i class=" ">LinkedIn</i></a></li>
        <!-- <li><a  target="_blank"  class="fa-icon-camera-retro" href="#"><i class="fa fa-google-plus"></i></a></li> -->
        <!-- <li><a  target="_blank"  class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li> -->
      </ul>
    </div>
    <div class="one_half">
      <h6 class="heading">Contact</h6>
      <ul class="nospace linklist contact">
        <li>
          <address>
          Anwesha office, Admin building,<br>IIT Patna, Bihta, Patna, 801103
          </address>
        </li>
        <li> +91 9708000578</li>
        <li> pr@anwesha.info</li>
      </ul>
    </div>
    <!-- <div class="one_third">
      <h6 class="heading">velit porttitor ac euismod</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">ut porttitor sit amet</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
            <p class="nospace">nunc sed eget augue varius dapibus mi eget lobortis risus nunc a leo&hellip;</p>
          </article>
        </li>
        <li>
          <article>
            <h2 class="nospace font-x1"><a href="#">finibus commodo ex eu</a></h2>
            <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
            <p class="nospace">pharetra nam sit amet lacus tempor ipsum finibus luctus sed fringilla&hellip;</p>
          </article>
        </li>
      </ul>
    </div> -->
  </footer>
</div>
<div class="wrapper quicklinks">
  <nav class="hoc clear"> 
    <ul class="nospace">
      <li><a href="#">Home</a></li>
      <li class="active"><a href="http://2017.anwesha.info/">Home page</a></li>
          <li class=""><a href="http://2017.anwesha.info/register/">Register!</a></li>
          <li class=""><a href="http://2017.anwesha.info/ca/">Campus ambassador</a></li>
    </ul>
  </nav>
</div>

<a id="backtotop" href="#top">&uarr;</a>
<div id="under"></div>
<div id="over"></div>
<div class="close"></div>
<!-- JAVASCRIPTS -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/jquery.backtotop.js"></script>
<script src="../assets/js/jquery.mobilemenu.js"></script>
<script src="../assets/js/jquery.flexslider-min.js"></script>
</body>
</html>
