<div id='contenthere'><center><h1>Sponsors</h1><br><br>

<h2>Presented By:</h2>
<br><br>
<a target="_blank" href='http://www.anshulhomes.com/'>
<img src='images/sponsors/anshul.png' id='secondlogo'></a>
<h2>Powered By:</h2>
<br><br>
<a target="_blank" href='http://www.airtel.in/'>
<img src='images/sponsors/airtel.jpg' height='100px'></a>
<br><br>
<h2>In Association with</h2>
<br><br>
<a target="_blank" href='http://www.sbi.co.in/'>
<img src='images/sponsors/sbi.jpg' height='100px'></a>
<br><br>
<a target="_blank" href='http://www.rubanpatliputrahospital.com/'>
<img src='images/sponsors/ruban.png' height='100px'></a>
<br><br>
<!-- <a target="_blank" href='http://www.yac.com/'>
<img src='images/sponsors/yac.png' height='100px'></a>
<br><br> -->
<!-- <a target="_blank" href='http://www.Incubation.com/'>
<img src='images/sponsors/incubation.png' height='100px'></a>
<br><br><br> -->
<h2>Stratergic Partners:</h2>
<br><br>
<!-- <a target="_blank" href='http://www.beltron.co.in/'>
<img src='images/sponsors/beltron.jpg' height='100px'></a>
<br><br> -->
<a target="_blank" href='http://www.thomsondigital.com/'>
<img src='images/sponsors/tdigital.jpg' height='100px'></a>
<br><br>
<a target="_blank" href='http://breda.in/abour_us.html'>
<img id='secondlogo' src='images/sponsors/biharlogo.jpg' ></a>
<br><br>
<a target="_blank" href='https://www.canarabank.in/'>
<img src='images/sponsors/canara.png' height='100px'></a>
<br><br>
<h2>Tourism Partner:</h2>
<br><br>
<a target="_blank" href='http://www.bihartourism.gov.in/'>
<img src='images/sponsors/bihar_tourism-Logo.png' height='100px'></a>
<br><br>
<h2>Beverage Partner:</h2>
<br><br>
<a target="_blank" href='https://www.coca-colaindia.com/'>
<img src='images/sponsors/coco.jpg' height='100px'></a>
<br><br><br>
<h2>Key Sponsor:</h2>
<br><br>
<a  >
<img src='images/sponsors/BUIDCO_logo.jpg' height='100px'></a>
<br><br>
<a target="_blank" href='http://www.bankofindia.co.in/'>
<img src='images/sponsors/BOI-LOGO.jpg' height='100px'></a>
<!-- <br><br>
<a target="_blank" href='http://www.bluepool.co.in/'>
<img src='images/sponsors/bluepool.jpg' height='100px'></a>-->
<!-- <br><br>
<a target="_blank" href='http://www.indianSummer.co.in/'>
<img src='images/sponsors/indiansummer.jpg' height='100px'></a> -->
<br><br>
<a target="_blank" href='http://www.incredibleindia.org/'>
<img src='images/sponsors/Incredible_India.jpg' height='100px'></a>

 <h2>Hospitality Partner:</h2>
<br><br>

<a target="_blank" href='https://www.patliputracontinental.com/'>
<img src='images/sponsors/hotel-patliputra-conti.jpg' height='100px'></a>


 <h2>Style Partner:</h2>
<br><br>

<a target="_blank" href='http://www.spykar.com/'>
<img src='images/sponsors/spykar.png' height='100px'></a>


 <h2>Pizza Partner:</h2>
<br><br>

<a target="_blank" href='http://www.dominos.co.in/'>
<img src='images/sponsors/Dominos_pizza_logo.png' height='100px'></a>

 <h2>Event Sponsor:</h2>
<br><br>

<a >
<img src='images/sponsors/eil.jpg' height='100px'></a>
<br><br>
<a >
<img src='images/sponsors/bsedc.png' height='100px'></a>

 <h2>Workshop Partner:</h2>
<br><br>

<a target="_blank" href='http://www.infizeal.com/'>
<img src='images/sponsors/infi_z.jpg' height='100px'></a>

 <h2>Travel Partner:</h2>
<br><br>

<a target="_blank" href='http://www.olacabs.com/'>
<img src='images/sponsors/Ola_Cabs.jpg' height='100px'></a>

 <h2>Security Partner:</h2>
<br><br>

<a>
<img src='images/sponsors/BVGLogo.jpg' height='100px'></a>

 <h2>Food Partner:</h2>
<br><br>
 
<a >
<img src='images/sponsors/angeethi.png' height='100px'></a>

<br><br><br>
<br><br><br></center></div>