<div id='contenthere'><center><h1>Sponsors</h1><br><br>

<h2>Presented By:</h2>
<br><br>
<a href='http://www.anshulhomes.com/'>
<img src='images/sponsors/anshul.png' id='secondlogo'></a>
<h2>Powered By:</h2>
<br><br>
<a href='http://www.airtel.in/'>
<img src='images/sponsors/airtel.jpg' height='100px'></a>
<br><br>
<h2>In Association with</h2>
<br><br>
<a href='http://www.sbi.co.in/'>
<img src='images/sponsors/sbi.jpg' height='100px'></a>
<br><br>
<a href='http://www.rubanpatliputrahospital.com/'>
<img src='images/sponsors/ruban.png' height='100px'></a>
<br><br>
<!-- <a href='http://www.yac.com/'>
<img src='images/sponsors/yac.png' height='100px'></a>
<br><br> -->
<!-- <a href='http://www.Incubation.com/'>
<img src='images/sponsors/incubation.png' height='100px'></a>
<br><br><br> -->
<h2>Stratergic Partners:</h2>
<br><br>
<!-- <a href='http://www.beltron.co.in/'>
<img src='images/sponsors/beltron.jpg' height='100px'></a>
<br><br> -->
<a href='http://www.thomsondigital.com/'>
<img src='images/sponsors/tdigital.jpg' height='100px'></a>
<br><br>
<a href='http://breda.in/abour_us.html'>
<img id='secondlogo' src='images/sponsors/biharlogo.jpg' ></a>
<br><br>
<!-- <a href='http://www.canara.com/'>
<img src='images/sponsors/canara.png' height='100px'></a>
<br><br> -->
<!-- <h2>Tourism Partner:</h2>
<br><br>
<a href='http://BiharTourism'>
<img src='images/sponsors/tour.jpg' ></a>
<br><br> -->
<!-- <h2>Beverage Partner:</h2>
<br><br>
<a href='http://cocacola'>
<img src='images/sponsors/coke.jpg' ></a> -->
<br><br><br>
<!-- <h2>Key Sponsor:</h2>
<br><br>
<a href='http://buidco'>
<img src='images/sponsors/buidco.jpg' ></a> -->

<br><br><br>
<br><br><br></center></div>