<html>

<head>
	<title>Anwesha `16 - Team</title>

	<link rel="stylesheet" href="css/all.css">
	<link rel="stylesheet" href="css/team.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="team">
		<div class="close"><a onclick="document.body.style.overflow='visible';" href="#">&larr;</a></div>
		<h1>team</h1>
		<ul class="box">
			<h2>Coordinator</h2>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png" />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<h2>Sponsorship</h2>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png" />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png" />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png" />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png" />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png" />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<h2>Cultural</h2>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<h2>Creatives and Design</h2>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<h2>Media and PR</h2>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
			<li>
				<a href="#">
				<img src="images/default-user-icon-profile.png"  />
				<span class="details"><span><b>Mafia shashi</b><br>Creatives and Design<br>9006703524</span></span>
				</a>
			</li>
		</ul>
		<br><br>
	</div>

	<div id="footer">
		<h2>ANWESHA '16</h2>
		<p class="left">Designed and Developed by the <a href="#">Creatives and Design team</a>.</p>
	</div>

</body>
</html>
