<html>
	<head>
		<title>Team | Anwesha 2018</title>

		<meta name="viewport" content="width=device-width, initial-scale= 1">

		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		<link href="../images/logo_favi.png" rel="icon" >

	<!-----styling for team page------>
		<style type="text/css">

		/*------------team menu bar------------*/
			.team_menu_bar
			{
				display: block;
				//background: white;
				z-index: 180;
				text-align:center;
				font-size: 120%;
				margin-bottom: 10px;
			}

			.team_menu_bar ul
			{
				list-style: none;
				padding:0;
				margin:0;
			}

			.team_menu_bar li
			{
				background: orange;
				display: inline-block;
				padding: .5%;
				margin-left: .5%;
				background-image: url(/images/cross.jpg);
				background-repeat: no-repeat;
				background-size: 100%;
				text-shadow: 1px 1px 10px black;
				box-shadow: 3px 3px 1px black;
				border-radius: 5px;
				cursor: pointer;
			}

			.team_menu_bar li:hover
			{
				color: orange;
			}

			.team_menu_bar a
			{
				text-decoration: none;
				color: white;
				cursor: pointer;
			}

			.team_menu_bar a:hover
			{
				color: orange;
			}


			@media screen and (max-width: 900px)
			{
				.moving_floor_div
				{
					display: none;
				}

				.moving_wall_div
				{
					display: none;
				}

				.team_div
				{
					//background-color: red;
					background-image: url(../images/wanted_wall_mob.png);
					background-size: cover;
					background-repeat: no-repeat;
					opacity: 1;
					height: 60%;
					width: 100%;
					overflow-y: scroll;
					text-align: center;
					
				}

				.team_text
				{
					display: block;
					margin:auto;
					margin: 2%;
					font-size: 120%;
				}

				.team_blank
				{
					height: 50px;
					//background: orange;
					display: block;
					margin:auto;
				}

				.team_menu_bar li
				{
					display: block;
					margin: auto;
					margin-top: 10px;
					width: 70%;
					
				}

			}
		</style>
	</head>
	<body>

	<!---------header-----bar-->
		<div class="header_div">
			<img id="header_div_bck" src="/images/blood.jpg"/>
		
			 <div class="menu_toggle">
				<img src="/images/skull_menu.png">
				<span> MENU </span>
			</div>
		</div>

	<!-----menu----bar------>
		<div class="menu_bar">
			<ul>
				<li><a href="/">Home</a></li>
				<!-- <li><a href="/events/">Events</a></li> -->
				<!-- <li class="sch_div">Schedule</li> -->
				<li><a href="/gallery/">Gallery</a></li>
				<li><a href="/team/">Team</a></li>
				<!-- <li class="spons_div">Sponsors</li> -->
				<li class="acco_load">Accomodation</li>
				<a href="/register/" target="_blank"><li >Register</li></a>
				<li class="ca"><a href="/ca/" target="_blank">Campus Ambassador</a></li>
			</ul>
		</div>


	<!-----doors---->

		<div class="menu_backgrnd"></div>
		<div class="door">
			<div class="left_door left_door_anim">
				<img src="../images/door_left.png">
				
			</div>

			<div class="right_door right_door_anim">
				<img src="../images/door_right.png">
			</div>

		</div>


	<!-----moving ----witch------>
		<img class="moving_witch" src="../images/witch_right_1.png">

	<!-----fixed ----cloud------>
		<div class="cloud_div"></div>

	<!-----moving ----cloud------>
		<div class="moving_cloud_div">
			<img src="../images/moving_cloud.png">
		</div>

	<!-----moving ----wall------>
		<div class="moving_wall_div">
			<img src="../images/wanted_wall.png">
			<!-- <img src="../images/wanted_wall.png"> -->
		</div>

	<!---team div---->
		<div class="team_div">
			<div class="team_menu_bar">
				<ul>
					<li><a id="fest_cord">Fest Coordinator</a></li>
					<li><a id="mpr">Media & PR</a></li>
					<li><a id="hospi">Hospitality</a></li>
					<li><a id="rsp">Registration, Security & Planning</a></li>
					<li><a id="spons">Marketing & Sponsorship</a></li>
					<li><a id="cult">Cultural</a></li>
					<li><a id="tech">Technical</a></li>
					<li><a id="arts">Arts & Welfare</a></li>
					<li><a id="cnd">Creatives & Design</a></li>
					<li><a id="webapp">	Web & App</a></li>
					<li><a id="webdev">Web Developers</a></li>

				</ul>
			</div>

			<div class="team_blank"></div>
		
		<!---------team loader------>
			<div class="team_loader">

				<!-----fest cord------>
				<div class="team_text"> Fest Coordinator</div>

				<div class="team_mem">
					<div class="mem_content">
						<img src="../images/team1.png"/>
						<br>
						<span class="mem_name">Himanshu Barua</span>
						<!-- <br>
						<a href="mailto:aditya.me16@iitp.ac.in">aditya.me16@iitp.ac.in</a>
						<br>
						<a href="tel:7424947945">7424947945</a> -->
					</div>
			</div>
			</div>

			<div class="team_blank"></div>

		</div>	

	
	<!---ajax loader---->

		<div class="ajax_loading_bckgrnd">
			<div class="ajax_back"></div>
		</div>

		<div class="ajax_loading_div ajax_loading_entry">
			<img class="ajax_pin" src="../images/dragon.png"/>
			<img class="close_icon" src="../images/close.png"/>
			<img class="ajax_div_back" src="../images/ajax_div_back.png"/>
			<div class="ajax_content"></div>
		</div>



	<!---footer---->
		<p id="copyright">&copy 2018 Anwesha, IIT Patna </p>

	<!--scripts-->
		<script type="text/javascript" src="../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../assets/js/jquery.mousewheel.js"></script>

		<script type="text/javascript">
	//--horizontal----------- scrolling-->
			$(document).ready(function() {
			    $('body, html, *').mousewheel(function(e, delta) {
			        // multiplying by 40 is the sensitivity, 
			        // increase to scroll faster.
			        this.scrollLeft -= (delta * 80);
			        e.preventDefault();
			    });

			});

	//-----menu toggle
			$('.menu_toggle img').on("click",function()
			{
				span_text=$('.menu_toggle span').text();
				if(span_text == "EXIT")
				{
					$('.left_door').addClass('left_door_anim');
					$('.right_door').addClass('right_door_anim');
					$('.menu_toggle span').text('MENU');
					$('.menu_toggle img').attr('src', '/images/skull_menu.png');
					$('.menu_backgrnd').fadeOut(800);
					$('.menu_bar').slideUp(800);
				}
				else
				{
					$('.left_door').removeClass('left_door_anim');
					$('.right_door').removeClass('right_door_anim');
					$('.menu_toggle span').text('EXIT').fadeIn(800);
					$('.menu_toggle img').attr('src', '/images/skull_exit.png');
					$('.menu_backgrnd').fadeIn(800);
					$('.menu_bar').slideDown(800);
				}
			});

	//menu bar item css
			var new_li= $('.menu_bar li').first();
			new_li.addClass('first_rot');
			var new_li= new_li.next().next();
			new_li.addClass('first_rot');
			var new_li= new_li.next().next();
			new_li.addClass('secnd_rot');
			var new_li= new_li.next().next().next();
			new_li.addClass('secnd_rot');

	//witch resting
			witch_attr = $('.moving_witch').attr('src');

			$.fn.witch_motion_start = function()
				{ 
		       		witch_motion= setInterval(function()
						{ 
							if(witch_attr=="../images/witch_right_1.png")
							{
								$('.moving_witch').attr('src', '../images/witch_right_2.png');
								witch_attr = "../images/witch_right_2.png";
							}
							else if(witch_attr=="../images/witch_right_2.png")
							{
								$('.moving_witch').attr('src', '../images/witch_right_1.png');
								witch_attr = "../images/witch_right_1.png";
							}

						}, 800);
			    }

			$.fn.witch_motion_stop = function()
			{ 
				clearInterval(witch_motion);  
			}

			$.fn.witch_motion_start();

	//witch direction on scroll
 			scroll_posn = $(document).scrollLeft();

			$(document).on("scroll",function()
			{
				var scroll_posn_new = $(document).scrollLeft();
				if(scroll_posn_new >= scroll_posn )
				{

					$('.moving_witch').css('left', '45%');
					
					witch_dirc = $('.moving_witch').css('transform');
					//alert(witch_dirc);
					if(witch_dirc == "matrix3d(-1, 0, -1.22465e-16, 0, 0, 1, 0, 0, 1.22465e-16, 0, -1, 0, 0, 0, 0, 1)")
					{
						$('.moving_witch').css('transform', 'rotateY(360deg)');
					}

					scroll_posn =scroll_posn_new;
				}
				else if(scroll_posn_new < scroll_posn )
				{
					$('.moving_witch').css('left', '35%');
					//$.fn.witch_motion_stop();
					scroll_posn =scroll_posn_new;
					$('.moving_witch').css('transform', 'rotateY(180deg)');
				}
				else
				{
					$('.moving_witch').css('left', '40%');
				}
				
			});

	//cloud motion
			$(document).scroll(function()
			{
				var window_pos = $(this).scrollLeft();
				//alert(window_pos);
				$('.moving_cloud_div img').css('left', -(window_pos * .05) + 'px');
			});

	//wall motion
			$(document).scroll(function()
			{
				var window_pos = $(this).scrollLeft();
				//alert(window_pos);
				$('.moving_wall_div img').css('left', -(window_pos * .2) + 'px');
			});

	//mob scroll
			mob_scroll_posn = $('.team_div').scrollTop();

			$('.team_div').scroll(function()
			{
				var mob_pos = $(this).scrollTop();

			//cloud motion and floor motion
				$('.moving_cloud_div img').css('left', -(mob_pos * .05) + 'px');
				$('.moving_floor_div img').css('left', -(mob_pos * .4) + 'px');


			//witch motion direction
				mob_scroll_posn_new = $('.team_div').scrollTop();

				if(mob_scroll_posn_new >= mob_scroll_posn )
				{

					$('.moving_witch').css('left', '45%');
					
					witch_dirc = $('.moving_witch').css('transform');
					
					if(witch_dirc == "matrix3d(-1, 0, -1.22465e-16, 0, 0, 1, 0, 0, 1.22465e-16, 0, -1, 0, 0, 0, 0, 1)")
					{
						$('.moving_witch').css('transform', 'rotateY(360deg)');
					}

					mob_scroll_posn =mob_scroll_posn_new;
				}
				else if(mob_scroll_posn_new < mob_scroll_posn )
				{
					$('.moving_witch').css('left', '35%');

					$('.moving_witch').css('transform', 'rotateY(180deg)');

					mob_scroll_posn =mob_scroll_posn_new;
				}
				else
				{
					$('.moving_witch').css('left', '40%');
				}

			});

	//ajax on menu items
			$('.close_icon').click(function()
			{
				$('.ajax_loading_bckgrnd').fadeOut(800);
				$('.ajax_loading_div').addClass('ajax_loading_entry');
			});


			$('.spons_div').click(function()
			{
				$('.ajax_loading_bckgrnd').fadeIn(800);
				$('.ajax_loading_div').removeClass('ajax_loading_entry');
			});

			$('.sch_div').click(function()
			{
				$('.ajax_loading_bckgrnd').fadeIn(800);
				$('.ajax_loading_div').removeClass('ajax_loading_entry');
			});

			$('.acco_load').click(function()
			{
				$('.ajax_loading_bckgrnd').fadeIn(800);
				$('.ajax_loading_div').removeClass('ajax_loading_entry');
			});


			$('.register').click(function()
			{
				$('.ajax_loading_bckgrnd').fadeIn(800);
				$('.ajax_loading_div').removeClass('ajax_loading_entry');
			});
			
	//team mem ajax loader
			$('#fest_cord').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/fest_cord/');
			});

			$('#mpr').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/mpr/');
			});


			$('#hospi').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/hospi/');
			});


			$('#spons').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/spons/');
			});


			$('#webdev').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/webdev/');
			});

			$('#webapp').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/webapp/');
			});

			$('#cnd').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/cnd/');
			});

			$('#arts').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/arts/');
			});

			$('#tech').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/tech/');
			});

			$('#cult').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/cult/');
			});

			$('#rsp').click(function()
			{
				//alert('ka');
				$('.team_loader').load('/rsp/');
			});
		</script>

		<script type="text/javascript" src="../js/ajax.js"></script>

	</body>
</html>

			